[2017-07-22 23:57] brianleroux opened #1 "testing"
channel notifications for issues

[2017-07-22 23:57] #1 closed, assigned to nobody

[2017-07-26 20:00] brianleroux opened #3 "need google pixel friendly media queries!"
per https://twitter.com/DotProto/status/890275825513136128

🙏

[2017-07-26 21:48] ryanblock commented on #3
To be fixed in https://github.com/arc-repos/arc-docs/pull/12

[2017-07-26 21:58] brianleroux commented on #3
nice thx!

[2018-01-24 22:57] #3 closed

[2018-03-22 18:23] brianleroux opened #5 "update the readme with 'how to contribute'"

[2018-03-22 18:50] #5 closed

[2018-04-10 09:32] meandillar opened #6 "Add additional info to CORS guide"
After enabling CORS on your route in the API gateway you also must select "Deploy API" in the Actions dropdown menu for the new changes to take effect.

Might be useful to add this to the CORS guide, took me a while to figure it out.

Thanks for the great package :-)

[2018-04-10 16:59] brianleroux commented on #6
ah yes very good point! thx for the feedback 👍 / will update here when that goes live

[2018-04-29 05:04] #6 closed

[2018-06-04 23:33] html5cat opened #13 "Add section about Updating @architect/workflows"
Will submit PR time permitting :)

[2018-06-06 18:57] html5cat opened #15 "npx sandbox doesn't seem to be working"
The process gets stuck on `✓ Started Dynalite DynamoDB`

[2018-06-06 19:01] brianleroux commented on #15
just tested on a trivial app / fresh app and seems ok. the step after that is copies src/shared into ALL src/**/*/node_modules/architect/shared which can be slow is /src/shared is really big

can you share the code causing the issue?

[2018-06-06 19:05] html5cat commented on #15
I was trying to run it on arc.codes repo to have the docs offline 😊

[2018-06-06 19:08] brianleroux commented on #15
lol wow geez! ok… lemme see…

[2018-06-06 19:11] brianleroux commented on #15
just updated to latest workflows and didn't reproduce on my machine; can you give it another try?

[2018-06-06 19:15] html5cat commented on #15
Works like a charm with latest workflows!

[2018-06-06 19:15] #15 closed

[2018-06-20 06:35] html5cat commented on #13
`npx hydrate update` seems to fix it

[2018-06-20 06:35] #13 closed

[2018-06-28 21:30] murribu opened #24 "Broken links to static assets"
On https://arc.codes/guides/cors, none of the static images are showing. Is it because the API Gateway and the S3 bucket are attempting to use the same domain name?

[2018-07-03 20:34] brianleroux commented on #24
Not sure but thx for reporting! Will have a look 🔜

[2018-08-06 15:31] filmaj opened #26 "What AWS permissions are required?"
I'm hesitant to hand over root AWS keys to arc, and would rather pre-configure a role or user with the bare minimum permissions needed.

What would those permissions be?

I tried searching around issues in the various repos and did stumble upon arc-repos/arc-workflows#120, which seems to imply arc will actually create roles for me. So that gives me a hint... but not the full details.

The prerequi

[2018-08-06 18:35] brianleroux commented on #26
Good call. Yes we've been meaning to lock this down. The following should work w the current release of arc (and super soon we'll need full access to SQS as well)

<img width="640" alt="screen shot 2018-08-06 at 11 33 58 am" src="https://user-images.githubusercontent.com/990/43734504-d09d5dee-996c-11e8-8388-e571c0dd1553.png">

[2018-08-06 19:52] reconbot opened #29 "CORS Guide is confusing"
https://arc.codes/guides/cors

Why does it have us create an API key? CORS trips up enough people without bringing api gateway auth into the mix. With permission I'm happy to pull some of that out and keep it cors specific.

(Is there a way to define this with the arc file?)

[2018-08-07 20:35] brianleroux commented on #29
Not as of yet but I haven't had a need or desire to do this. Should be easy-ish to config though. How would you expect it to look/work in the `.arc` file? global opt-in or per-route config?

[2018-08-07 22:27] brianleroux commented on #29
so we could tack this onto either the root `.arc` or use this as a thing we configure in a route `.arc-config`

[code]

(?)

Otherwise we could consider a syntax addition to the root `.arc`

[code]

I have no real preference either way. IDK how I feel about syntax for this. Another thing we could consider is making this configurable using the new api gateway dynamic headers.

[code]

[2018-08-08 17:24] brianleroux opened #30 "Translations"
Currently arc.codes is probably one of the first markdown based serverless CMS systems. So it is pretty raw (and almost silly simple).

All the content is in [https://github.com/arc-repos/arc.codes/tree/master/src/shared/en/aws](src/shared/en/aws). New translations should use their language code and in a new folder under shared. (Eg src/shared/pt-br, src/shared/es, src/shared/fr, etc)

I have thre

[2018-08-08 17:40] brianleroux commented on #29
gzip is enabled by default. idk about request caching enough to say what we'd want or how that could work. the laguage is pretty flexible tho the more I noodle on this the more I think it should be a 'feature' of a new section entirely `@http` which allows for dynamic headers. https://github.com/arc-repos/arc-workflows/issues/117 (rather than confuse the arc syntax or add more config just make it

[2018-08-08 17:41] kborchers commented on #30
Just to throw a wrench into automation of i18n/translations 😉, I would say the design should allow for easily "flipping" to support languages written right to left. I would imagine you can do this with a separate or additional style sheet and when a RTL language is added there should somewhere to flag it as such.

[2018-08-08 20:48] brianleroux commented on #29
Content-Type became top level was not a choice so much as a tradeoff. Hopefully a historic tradeoff that goes away! When we implemented .arc initially there was only one header allowed. As time progressed AWS bizarrely gave us three headers again, not dynamically configurable. If you are building something like .arc you'll need all three. Content-Type, Location and Cookie. Pretty annoying constrai

[2018-08-09 04:35] brianleroux commented on #29
Oh geez I forgot about OPTIONS… ya. Thats fun. Guess we could assign the same lambda to handle both types of request to hide all that? Would you expect to intercept and do anything w the OPTIONS request?

[2018-08-09 05:40] brianleroux commented on #29
It occurs to me that part of the reason this hasn't been a consideration for arc is that have no use cases for CORs. Can you give me a back of background on why you want to allow cross origin requests …? Not judging but also this is not a thing I'm deliberately not choosing to do and want to understand why ppl do. It might be you just want a CDN and not a CRUD-y webapp (in which case maybe we shou

[2018-08-09 15:41] brianleroux commented on #29
Yeah, are y'all limiting by host? Also do you need all verbs or would just GET suffice? (Read that OPTIONS only required for non HEAD, POST and GET.)

[2018-08-09 16:03] brianleroux commented on #29
Ah, gotcha. Ok! Still leaning towards using `.arc-config` to make this opt in. It's pretty complex behavior thwarting same origin and super do not want to create accidental vectors for XSS / XSRF.

Workflow would be:
- add `.arc-config` to the lambda route handler you want to configure
- run `npx config apply`
- if cors is in there add the desired config (if not ensure cors is not enabled on that

[2018-08-09 17:54] brianleroux commented on #29
Cool, gonna scope this in the arc-workflows repo and will cc on the progress. thx for helping me figure this! 💯

[2018-08-11 21:26] brianleroux commented on #26
closing for now but feel free to re-open!

[2018-08-11 21:30] brianleroux commented on #29
kicked a new issue for this in arc-workflows!

[2018-08-11 21:30] #29 closed

[2018-08-11 21:59] filmaj commented on #26
would be nice to document this somewhere tho 🤷‍♂️

[2018-08-11 22:00] filmaj commented on #26
happy to help w/ that if you can lend some guidance

[2018-08-12 01:59] brianleroux commented on #26
Ah, ya you are right we should put this into the docs. Bit hesitant to recommend a least privilege role quite yet because we are still adding primitives. SQS, Kinesis and Cognito could happen soonish. Tho I guess we just update docs and announce if so. WDYT?

[2018-08-12 13:33] filmaj commented on #26
Yeah, sounds great. I understand it's in flux but it's a blocker for me to use it - possibly I'm not the only one.

Maybe a dedicated Guide to "AWS Permissions"? Similar to how there exists one for "Multiple AWS Accounts" now? Could then link to it from the quickstart's prerequisites, and with it being its own guide, I think it's not a heavy ask to update the AWS permission guide every time someon

[2018-08-12 14:53] brianleroux commented on #26
Ya giver! New docs go in _nav.md and src/shared/en/aws

It's a hand rolled cms so lmk if you have any questions. Thx Fil! 🍻

[2018-08-13 03:47] filmaj commented on #26
Was thinking, maybe it would be clearer if we simply pointed to an AWS policy JSON file? Maybe use it inside arc-workflows' tests for service interaction (to check needed permissions for a particular service are appropriate)? Could you post the JSON for the policy from your screenshot above?

[2018-08-13 17:18] brianleroux commented on #26
Yeah, its a starting point but many of these services are further restricted to `us-west-2` (which is maybe good too)

[code]

[2018-08-21 03:34] brianleroux opened #32 "fix .arc reference Next sections"
each document in .arc reference has a `Next` section but the order with the nav is out of date

[2018-09-14 23:04] #32 closed

[2018-10-20 09:34] brianleroux opened #41 "Writing Backlog: Help Wanted!"
- [ ] background tasks guide
- [ ] scheduled functions guide
- [ ] graphql guide
- [ ] jsonapi guide
- [ ] env variables guide

[2018-10-22 00:59] ryanblock opened #42 "Add in missing docs / sessions"

[2018-10-22 00:59] ryanblock opened #43 "Add in missing docs and sections"

[2018-10-22 22:08] #43 closed

[2018-10-24 22:32] brianleroux opened #44 "need to document new shortcut flags"
create locally with flags

- `npx create local`
- `npx create --local`
- `npx create -l`

deploy to production with flags

- `npx deploy production`
- `npx deploy --production`
- `npx deploy -p`

deploy to staging with flags..these exist for symmetry / all are equiv

- `npx deploy`
- `npx deploy staging`
- `npx deploy --staging`
- `npx deploy -s`

[2018-10-29 12:39] filmaj opened #45 "Location of static assets described differently in different sections"
In the static guide (https://arc.codes/guides/static-assets):

In the `@static` reference (https://arc.codes/reference/static):

So, is it `public/` dir, or `.static` dir?

[2018-10-29 16:33] brianleroux commented on #45
good catch, thank you. `/public` for future reference!

[2018-10-29 16:33] #45 closed

[2018-11-11 19:44] filmaj opened #48 "Can't run site in sandbox w/ arc 4.2.1"
Doesn't look like any routes are registering:

[code]

Then when I go to load the localhost URL, I get:

[code]

After digging around, I noticed that `sandbox` only mounts `@http` routes, but this site relies on `@html` ones. When I applied the following patch to the sandbox code:

[code]

.. I can see now the routes are being registered:

[code]

... but the site still doesn't load, though instea

[2018-11-11 20:08] brianleroux commented on #48
Expected! Arc only supports http routes 4.x and up

[2018-11-11 20:08] #48 closed

[2018-11-11 20:50] filmaj commented on #48
Hmm, may I suggest we then remove the instructions from the readme to use `sandbox`, then?

[2018-11-11 21:03] brianleroux commented on #48
we should keep that! when we upgrade from 3.5 it'll work. just haven't had time. need to write a thing that deletes the branches of api gateway restapis but leaves the root restapi resource so we can regen the routes for 4.x without having to re-setup dns and certs. =P

[2018-11-26 16:08] filmaj commented on #41
I'd suggest splitting this issue out into discrete ones, so that reqs for each could be discussed independently.

[2018-11-26 16:12] filmaj commented on #26
Something I recently stumbled upon that's missing in this issue: you need `ssm` permissions to read/write using `npx env`.

[2018-11-26 16:19] filmaj opened #50 "clarifications around `npx env` guide"
I have a couple questions regarding `npx env`, and I'm hoping clarifying that in this issue could be a basis for a pull request expanding on the guide. Also feel free to add any ideas that were had around the env guide (there's a mention of the env guide in #41) in here.

My questions:

1. There's mention of 'current working directory' with respect to the `.arc-env` file. I'm probably confused, bu

[2018-11-27 04:48] filmaj commented on #50
Answering my own questions after playing around some more:

1. one arc-env per project
2. yes testing == local

[2018-11-27 18:46] brianleroux commented on #50
### 👍

### 👍

[2018-11-27 22:00] filmaj commented on #50
So the arc-env file will put env vars you want to activate only in the local testing scenario under the `@testing` pragma. But we use the term "local" elsewhere in the project, i.e. the `ARC_LOCAL` env var. We have a "working locally" guide on the site, the static guide says "It's good to work on our local machines, deploy to a staging environment, and promote to production with total confidence t

[2018-11-27 22:03] filmaj commented on #50
My thinking behind using 'local' instead of 'testing': I have worked at different companies where they don't call their staging environment 'staging', they call it 'testing'. So I think it's reasonable to assume that referring to a 'testing environment' may be confused with a staging environment, whereas referring to a 'local environment' is, I think, less ambiguous.

fuck man words are hard

[2018-11-27 22:35] brianleroux commented on #50
I've seen these things called many things too~!

For our purposes just expanding on Node best practice of `NODE_ENV` equaling one of `testing`, `staging`, `production` where any of them *could* run locally. (So you maybe have the repl open but its pointing at the production db. or you are previewing the work in sandbox but the data is from staging…etc)

That said, I do get A LOT of folks requestin

[2018-11-27 22:51] filmaj commented on #50
oh i had no idea about the node convention

well that throws this for a loop.

i am no longer as convinced of the suggestion to rename testing->local

ill put together a PR for the other changes you thumbs-up'ed, tho

[2018-11-28 01:07] brianleroux commented on #50
Yar, for the purposes of posterity and docs I'll elaborate here. `NODE_ENV` a loose convention popularized by legacy Node server apps. For Architect I've striven to make a consistent thing you can depend on.

There's two facets at play here: authortime and runtime. `NODE_ENV` is for runtime.

You *know* at runtime `process.env.NODE_ENV` will be one of `testing`, `staging` and `production` which ke

[2018-11-28 03:42] filmaj commented on #50
oh man there's also docs under architect/docs for this that describes stuff in a bit more detail, but lots of overlap. lots of overlap between the command help/usage docs in the architect repo, and the arc.codes "workflows" guides.

hmm... I will have a think on how to organize this a bit better..

[2018-11-28 19:20] filmaj commented on #26
Some more details from my own setup: I have AWS IAM "User" credentials that I use w/ arc. This user definition:

[code]

So it's policies come from 1 group, and 1 policy directly attached. Turns out 10 policies max per group? Dunno. I don't consider myself an IAM wizard.

The group consists of a mix of AWS-managed policies and a few others I custom-created 'cause they were missing from the list fo

[2018-11-29 15:30] filmaj commented on #50
OK, I've taken a look at all the commands, their help docs in architect, and the guides for the commands on arc.codes.

My thinking:

- keep the CLI help docs (i.e. `npx help env`) focused on purpose, usage and "critical" info around usage (exceptions, that kind of thing). So, all CLI help docs should include high-level description of command _intention_ , example usage (many commands have this, s

[2018-12-12 00:07] jniemin opened #53 "Docs: Typo lambda execution time limit"
Seems that on limits documentation page https://arc.codes/intro/limits still has reference to old 5 minute execution time limit.

[2018-12-12 00:12] #53 closed

[2018-12-17 18:20] mikemaccana commented on #42
I notice the session example in the intro is a little outdated. I'm not sure if this is everything you want but I'll update that now.

[2018-12-17 18:41] mikemaccana commented on #42
PS I mean the 'Example App' in https://arc.codes/guides/http uses old style session APIs - updating https://github.com/arc-repos/arc-example-login-flow first (since that's what it's quoting), then that.

[2018-12-18 23:13] mikemaccana commented on #42
@ryanblock I've updated the tests to pass on arc 4 and also merged with current m,aster - this should be ready to go! 😃

[2018-12-18 23:39] ryanblock commented on #42
Thanks for this! Much needed.

Couple quick bits: first, build is currently failing, some due to typos (both real and that need to be added to the dictionary file), and also linter, if you could take a look at that.

On our side, I've got a bit of coordinating with the JSF to do to see whether we need to re-deploy the DNS on this changeover. Please stand by!

[2018-12-18 23:45] ryanblock commented on #42
One other thing – always prefer `git mv` to regular moves, which kills all version history for files. If you could move those back and just do a simple git mv (which I think should still be possible), that'd be much obliged!

[2018-12-19 01:16] mikemaccana commented on #42
Thanks Ryan! Fixed the typos.

For the moves it looks like vscode didn't do a 'git mv' when I renamed the
dir (which is weird, since it's an editor and all). It's 1AM here and I'm
in bed so will do a git mv and resend tomorrow.

On Tue, 18 Dec 2018 at 11:45 pm, Ryan Block <notifications@github.com>
wrote:

[2018-12-19 01:16] ryanblock commented on #42
No worries, and much obliged!

[2018-12-19 11:15] mikemaccana commented on #42
Done! https://github.com/arc-repos/arc.codes/pull/54

It looks like git doesn't like renames and file changes in the same commit, so I've split it into the renames, the arc4 arc.codes site upgrade, and the content changes, then merged in your changes.

[2018-12-19 16:51] ryanblock commented on #42
Thanks, Mike! Pls peep files changed: https://github.com/arc-repos/arc.codes/pull/54/files for the list of files that are still showing up as having been deleted and recreated. Looks like you successfully got the packages moved, but unfortunately not the index.js files.

Also a bit of good news: did some research yesterday and I think we should be able to ship this  without further coordination fr

[2018-12-20 06:49] ryanblock commented on #42
Merged and deployed, thanks for this, Mike!

[2018-12-20 06:50] #42 closed

[2018-12-20 12:32] mikemaccana commented on #42
Thanks Ryan! Super glad it was GitHub showing things oddly.

We could export and test a `_pathToFileName` if you want to make sure we're aware of regressions. I know some people dislike testing private code though.

[2019-01-07 16:16] cristianexer opened #63 "export issue"
Probably I've imported it wrong but it seems that if I am not using the arc.middleware function is working.

[code]

[code]

Basically I've followed the example with routes but I am pretty sure it's an importing error.

Also what are the benefits of arc.middleware ?

[2019-01-07 21:02] brianleroux commented on #63
hey ! sorry for the confusion you want to use `arc.http()` with that first example. I'll let @mikemaccana answer your second q tho!

[2019-01-07 21:02] #41 closed

[2019-01-07 21:03] brianleroux commented on #30
closing for now…hopefully we hear back again!

[2019-01-07 21:03] #30 closed

[2019-01-07 21:12] mikemaccana commented on #63
Arc middleware combines multiple route lambdas into one - there's no point using it with a single function! See https://arc.codes/reference/middleware

This should be `exports.handler = arc.middleware(auth, win);`Check the `requireLogin` example at https://arc.codes/reference/middleware for an equivalent of your `auth` function.

[2019-01-07 22:30] mikemaccana commented on #63
PS @cristianexer Check out https://github.com/mikemaccana/arc-example-login-flow, which uses the new API and will soon be merged into the mainline arc (see https://github.com/arc-repos/arc-example-login-flow/pull/6)

[2019-01-09 15:09] filmaj opened #64 "middleware guide is not linked from left menu"
this one: https://arc.codes/reference/middleware

[2019-01-09 15:10] filmaj opened #65 "middleware guide references non-existent function"
https://arc.codes/reference/middleware

[code]

cc @mikemaccana

[2019-01-09 18:06] brianleroux commented on #64
it is but you gotta scroll to find it
<img width="1141" alt="screen shot 2019-01-09 at 10 05 49 am" src="https://user-images.githubusercontent.com/990/50918878-3abf2a00-13f6-11e9-973f-8c91be7fc97c.png">

[2019-01-09 21:41] filmaj commented on #64
Fuck me. Closing, feeling quite ashamed 🙈

[2019-01-09 21:41] #64 closed

[2019-01-11 14:33] mikemaccana opened #67 "Sandbox: watch and re-copy when src/shared files change"
What do y'all think?

 - Use one of those OS-agnostic watcher thingies.
 - Trigger the copy on anything under src/shared - new stuff will get used on next run of each lambda
 - Have a threshold/delay so it doesn't go nuts during frequent saving

[2019-01-12 00:07] #65 closed

[2019-01-12 14:00] filmaj opened #68 "data.put example uses undefined `location` var"
https://arc.codes/reference/data-put

[code]

[2019-01-12 14:53] filmaj opened #69 "Middleware guide example doesn't work in unauthenticated scenario"
I'm not sure if this is a recent regression or not w/ architect, and if I'm filing in the right place. I'll file here and can always copy over to the right repo.

The middleware guide (https://arc.codes/reference/middleware) has a pretty standard authentication middleware:

[code]

My own arc-example-auth middleware is along the same lines:

[code]

However what I see when I try to load any page t

[2019-01-12 14:57] filmaj commented on #69
Fuck, nevermind, I'm a fkn idiot. I'm writing the request object to the session 🤦‍♂️ of course only after typing this all out and spending an hour investigating that I realize a) writing to the session in the first place is stupid in the auth middleware and b) im writing the wrong object.

jeeeesus fil wtf

[2019-01-12 14:57] #69 closed

[2019-01-12 17:33] brianleroux commented on #69
all good! wondering…how could we make this easier / what would have you expected ?

[2019-01-13 14:36] filmaj commented on #69
One thing I think that could help is to use a consistent style on the docs/guides. I noticed some examples use the old `arc.http` route helper, which requires the use of a `res()` function to return a response, whereas others (like the middleware guide) don't use that and rely on `return`ing response objects directly.

[2019-01-18 13:17] mikemaccana opened #71 "Data guide does not use current route / session / middleware APIs"

[2019-01-18 14:16] mikemaccana commented on #64
Maybe it would be better as a 'guide' (at the top) rather than a 'reference'? It's so small it doesn't need long documentation, so probably 'guide' would be a better fit.

[2019-01-21 17:03] mikemaccana opened #73 "How can I get S3 to use correct MIME types for static content?"
**This is probably a documentation issue**. As in, I don't understand how to do something and the [current static docs](https://arc.codes/guides/static-assets) don't tell me.

## Quick question

**Minor note**: the [docs](https://arc.codes/guides/static-assets) don't cover this, but since S3 [doesn't have 'real' folders](https://docs.aws.amazon.com/AmazonS3/latest/user-guide/using-folders.html) (a

[2019-01-21 17:05] mikemaccana commented on #73
Oooh wait this is CORB not CORS....

[2019-01-21 17:08] mikemaccana commented on #73
From reading https://www.chromium.org/Home/chromium-security/corb-for-developers it looks like the MIME type being sent incorrectly from S3 is causing the issue.

**How can I get S3 to use correct MIME types for static content?**

[2019-01-21 17:10] brianleroux commented on #73
Could be a bug w upload code in deploy. You can change mimes in the S3 console. Just walking but will be atta machine shortly

[2019-01-21 17:11] mikemaccana commented on #73
Thanks for the quick reply, that would be cool. I'll get into the console now. Am I right that /static has to be flat?

[2019-01-21 17:12] brianleroux commented on #73
Nope! Just can't have empty folders is all

[2019-01-21 17:21] mikemaccana commented on #73
Yeah it looks like you're right: the deploy code is trying to replicate the entire directory structure on S3:

        ✓ https://s3.us-east-1.amazonaws.com/arc-example-notes-staging/:/Users/mikem/OneDrive/Documents/arc-
    example-notes/public/style.css

![image](https://user-images.githubusercontent.com/172594/51489691-f9892b80-1da0-11e9-88a9-b7761c6456df.png)

[2019-01-21 17:47] mikemaccana commented on #73
Opening `_copy_to_s3.js` and changing:

    var key = file.replace(path.join(process.cwd(), 'public'), '').substr(1)

To:

    var key = file.replace(/.*\/public/, '').substr(1)

And running `npx deploy` returns:

    ✓ https://s3.us-east-1.amazonaws.com/arc-example-notes-staging/forms.css
    ✓ https://s3.us-east-1.amazonaws.com/arc-example-notes-staging/cards.css
    ✓ https://s3.us-east-1.amazo

[2019-01-21 18:01] mikemaccana commented on #73
Looks like the files just took a moment to appear n S3:

![image](https://user-images.githubusercontent.com/172594/51491560-a023fb00-1da6-11e9-81ee-ae2ba55394a4.png)

[2019-01-21 18:11] mikemaccana commented on #73
Also for my own ref (and maybe yours): https://github.com/nodejs/node/issues/8237

[2019-01-21 18:45] brianleroux commented on #73
huh, TIL

[2019-01-22 00:31] brianleroux commented on #63
Going to close this issue but feel free to reopen if more discussion required!

[2019-01-22 00:31] #63 closed

[2019-01-22 01:19] mikemaccana commented on #73
OK `npx deploy` now pushing files to the correct location on S3 per the PR above.

But content types still aren't being set properly (everything is `application/xml` and gets blocked accordingly by the browser).

Setting content type manually doesn't work either:

![image](https://user-images.githubusercontent.com/172594/51505863-062d7400-1de1-11e9-9008-9b9a461c359b.png)

![image](https://user-ima

[2019-01-22 12:03] mikemaccana commented on #73
This is resolved (once the PR is merged) now - I wiped and remade the bucket, used the code in the PR to `npx deploy static` and I'm getting the correct MIME types now.

[2019-01-22 12:55] mikemaccana commented on #73
It's so pretty 🙂:

![image](https://user-images.githubusercontent.com/172594/51536916-03646a80-1e45-11e9-9b3d-36a15560a62f.png)

[2019-01-22 13:06] mikemaccana commented on #73
Actually going to close this anyway since it's for the wrong repo.

[2019-01-22 13:06] #73 closed

[2019-01-27 21:36] ryanblock opened #168 "📗 Docs: @views"
I recently realized we never actually documented `@views`, a super important frontend-centric feature of Architect.

I just [added this](https://github.com/arc-repos/arc.codes/commit/c4d2225bac87e45e07da0c29ddfea2bc14f4ac5e) but we've got more work to do to surface it, including a proper `@views` section doc under `.arc reference`.

See also:
- https://blog.begin.com/serverless-front-end-patterns-

[2019-01-29 00:28] mikeal opened #167 "Docs: List recommended permissions on Getting Started"
**Describe the feature**

The main problem is that AWS permissions are an absolute disaster. There's 2K permissions in the AWS dashboard and the names are so long you forget the first word in the CamelCase by the time you read the last. Even worse, googling for permissions for specific services mostly link to useless AWS doc pages that just link to you the dashboard, super helpful.

In order to sa

[2019-01-30 18:40] cmbirk opened #75 "GraphQL Guide"
I'm opening this issue in reference to #41

I'm just finding out about Architect, but it looks incredible! I'm raising my hand to dive in and learn how to implement GraphQL with it and document it. I wanted to reach out here first and ensure it's possible / practical with the framework. Is that the case? Thanks!

[2019-01-30 18:49] kristoferjoseph commented on #75
We've been discussing a GraphQL demo and would appreciate your help.

[2019-01-30 19:17] brianleroux commented on #75
hey @cmbirk ! this might help https://gist.github.com/aphex/b66b1cc52f93ae922b55f901ffc1c50f

I haven't done it myself but I know a few ppl have and would love the help document!

[2019-01-30 19:47] cmbirk commented on #75
Perfect!  I'll go ahead and claim this issue. Will get something up / running / documented as soon as I can. Thanks!

[2019-02-05 14:14] mikemaccana commented on #71
OK done!

[2019-02-05 14:14] #71 closed

[2019-02-06 16:10] mikemaccana opened #77 "[Feedback wanted] more consistent approach to topics"
Right now, for example **Static** is covered in:

 - https://arc.codes/guides/http (overview)
 - https://arc.codes/guides/static-assets (overview)
 - https://arc.codes/reference/static (full reference

Some things that could be done better:
 - 1 and 2 are really similar - when we update either, we need to update both.
 - `http` is getting long.
 - It's hard to work out whether the overview should

[2019-02-06 16:31] brianleroux commented on #77
Agree, zooming out a bit I think a reorg could help:
- **Quickstart** is the highest level overview
- **Guides** should be a walk through of a specific topic area
- **Reference** should be straight up reference material

To me HTTP functions, Static Assets, CORs and Single Page Apps are specific topic areas. (And all could be written better.) But probably fine as *Guides**. Maybe we need to enhanc

[2019-02-06 16:46] mikemaccana commented on #77
Right now quickstart shows the basics, then goes straight into the HTTP guide

We could add a 4th bit to quickstart which is exactly that - a high level overview of the web dev/sever features of architect?

---
`https://arc.codes/quickstart/arc-project-layout`

## What to do next?

Add [lambdas](/guides/http) - these will be the basic routes of your app

Use [sessions](/guides/sessions) - arc come

[2019-02-06 16:47] brianleroux commented on #77
I like that

[2019-02-08 23:30] #77 closed

[2019-02-10 19:45] alexbepple opened #79 "How to exclude development dependencies from deployment?"
After I added Mocha to my development dependencies, the code size of the deployed lambda grew. What is the proper way to exclude development dependencies from being included in the bundle?

[2019-02-10 19:56] brianleroux commented on #79
you should add dev deps to the root package.json and not to anything in `src/*`

is this what you did ? (lambdas include deps from their own package.json files as well as anything in src/shared or src/views)

[2019-02-10 21:34] alexbepple commented on #79
@brianleroux Yes, I added the unit-test deps to the `src/events/xyz/package.json`. Moving them to the root `package.json` worked out fine. Thanks for pointing this out. I think it would be helpful to mention this somewhere. Maybe a mini-guide to unit-testing?

[2019-02-10 21:34] #79 closed

[2019-02-10 21:40] alexbepple opened #80 "Question: Are there plans for a build step for lambdas?"
If I am not mistaken, the current deployment process uploads everything in the folder of a lambda. This includes all the cruft in `node_modules/*`.

Are there plans for having a build step for the lambdas?

Then we could bring down the sizes of the lambdas down massively, e.g. through tree-shaking.

[2019-02-10 22:28] brianleroux commented on #80
yes there's a spot for it tho we haven't really found it necessary for our case (we keep things pretty tight) but that said there is this plugin too  https://github.com/arc-repos/arc-plugin-node-prune

another thing I've seen folks do is compiling code into the src folder using something like `ncc` and treading arc as a dumb deployment vehicle. lets leave this open tho because I think we should ad

[2019-02-10 23:15] alexbepple commented on #80
@brianleroux Plugins? 😲 Good to know. Thanks. They are not documented either, are they? 😉

[2019-02-10 23:24] brianleroux commented on #80
No, they're not formalized yet really tho we appreciate all the help we can get!

[2019-02-10 23:24] #80 closed

[2019-02-15 17:02] pcaisse opened #83 "Issues with Persist Data tutorial"
I uncovered a number of issues when going through the [Persist Data](https://arc.codes/guides/data) tutorial:

* Layout path is referenced incorrectly (`layout = require('@architect/shared/layout')` vs within `views` dir)
* Missing source code for `make-note.js` (this file is required but is not mentioned)
* Static files in `public/` are not mentioned in tutorial (there is no `@static` in the `.ar

[2019-02-16 01:25] brianleroux commented on #83
thx for this!

[2019-02-27 20:14] neilhoff opened #86 "Error when running `npx deploy` with VS Code open"
If I have the project open in Visual Studio Code and then run `npx deploy` I get this error:

[code]

It looks like it is unable to delete the node_modules directory.

Once I close VS Code and re-run `npx deploy` it works great.

I am using Cmder on Windows 10.

[2019-02-27 21:19] neilhoff commented on #86
Of course...a reboot fixed it.

[2019-02-27 21:19] #86 closed

[2019-02-27 21:21] brianleroux commented on #86
awesome, that's the best! (windows support super important to us so also thank you for reporting 🙏)

[2019-02-28 16:30] neilhoff opened #87 "Static assets saved to S3 with entire Windows path minus the drive letter"
Static assets are deployed to a folder with ":" in it. It is adding the entire path minus the drive letter to the S3 Bucket.
![image](https://user-images.githubusercontent.com/1918319/53581279-e5c0aa00-3b42-11e9-963c-1064239278ae.png)

This is causing an error when trying to view the site which I believe is because S3 doesn't handle ":" characters in the path:

![image](https://user-images.githubu

[2019-02-28 23:24] douglasgc opened #88 "Deploying the websocket in AWS does not work."
I clone and deploy this repo and not work
https://github.com/arc-repos/arc-example-ws

[2019-03-01 14:05] neilhoff commented on #87
Sorry! This was posted in the wrong repo. This is the correct one: https://github.com/arc-repos/architect

The error is fixed with https://github.com/arc-repos/architect/pull/269

[2019-03-01 14:05] #87 closed

[2019-03-17 23:34] talltyler opened #90 "@tables data types?"
Is there a document that explains what the supported data types are. I also can't find anything on what the use of `**` and `*` mean.

[2019-03-19 02:24] talltyler commented on #90
Sorry I found it here, I was looking for it in relation to data.
https://stage.arc.codes/reference/tables

[2019-03-19 02:24] #90 closed

[2019-03-27 21:06] jonathanstiansen opened #92 "Getting started should favour local instead of AWS"
Some things to add:

The `prerequisites` page talking about setting up AWS creds is before a `try us out` page, should probably be reversed. It's going to help adoption if we walk through local setup  instead of setting up IAM creds before you can write code. Many people will likely stop there.

[Installation page](https://arc.codes/quickstart/install) should also have `npx create local` to enable

[2019-04-08 15:59] mikemaccana opened #95 "The address http://localhost:undefined is already in use."
No biggie, sending PR now

[2019-04-08 16:02] mikemaccana commented on #95
Oops made on wrong repo! Closing.

[2019-04-08 16:02] #95 closed

[2019-04-11 02:52] mikeal opened #166 "📗 Document: code coverage support (tap/nyc/istanbul)"
Tried running my test with coverage and it’s not picking up lambda functions run in the sandbox.

[code]
Not sure what is causing this, are the sandboxes run in subprocesses?

[2019-04-24 00:44] EskelCz commented on #88
I'm trying the same thing, getting
[code]

[2019-04-25 17:56] brianleroux commented on #88
movin issue to our main repo; will have a spike on ws soon. they work… but we've made a lot changes in service of spa's lately so I can image the example broke.

Protip: better steps to reproduce will help us help resolve this quicker.

[2019-05-08 19:12] kirankashalkar opened #98 "How can I create a S3 trigger for the lambdas?"
Is there a way to configure an S3 trigger for lambdas through configuration (yaml/json)?

[2019-05-08 19:15] brianleroux commented on #98
Architect currently doesn't have support for this.

Currently we support creating S3 'website' buckets:

[code]

Which, anytime you run `npx deploy` the local `/public` folder will sync. Its intended for static assets mostly.

How would you expect s3 event handler lambdas to be defined and work?

[2019-05-09 17:13] #44 closed

[2019-05-14 03:00] kirankashalkar commented on #98
In general the event triggers would be defined in the yml file that describes the lambda.

[2019-05-23 23:26] brianleroux opened #100 "cloudformation guide"
we will want to wait on https://github.com/awslabs/serverless-application-model/issues/561 before recommending people actually use this !

[2019-06-06 12:51] pfeilbr opened #111 "how to delete / remove all provisioned aws resources?"
How do you to delete / remove all provisioned aws resources for a given .arc?

[2019-06-06 15:30] brianleroux commented on #111
`npx inventory nuke` destroys everything except S3 buckets and Dynamo tables. `npx inventory nuke -f` will clean those up.

[2019-06-06 15:30] #111 closed

[2019-06-14 15:13] webselect opened #112 "Deploy log cli for delete function name"
Delete Function name is not good when npx deploy
∙∙∙ Preparing 6 Functions: Copying src/shared into Functions...
src/http/get-index ............................. lion-api-staging-get-index ........................ 0.21 mb
src/http/get-api-v1-segments ................... lion-api-staging-get-api-v1-segments .............. 0.21 mb
src/http/get-api-v1-segments-000SegmentId ...... lion-api-staging-get

[2019-06-14 17:44] #112 closed

[2019-07-06 18:09] #100 closed

[2019-07-06 18:10] brianleroux commented on #92
this is the default in architect 6.x! its early and the docs are wip but you can preview them here https://xm2tr54sk9.execute-api.us-east-1.amazonaws.com/production/

[2019-07-06 18:10] #92 closed

[2019-07-06 18:11] brianleroux commented on #75
fyi we have an example here https://github.com/begin-examples/node-graphql-api ❤️

[2019-07-06 18:11] #75 closed

[2019-07-06 18:12] brianleroux commented on #50
wip but you can preview here https://xm2tr54sk9.execute-api.us-east-1.amazonaws.com/production/

going to start a fresh issue for new docs site

[2019-07-06 18:12] #50 closed

[2019-07-06 18:13] brianleroux commented on #67
this is the new behavior in https://github.com/architect/sandbox/blob/master/changelog.md 🎊

[2019-07-06 18:13] #67 closed

[2019-07-06 18:15] brianleroux commented on #68
thx! https://github.com/architect/arc.codes/blob/master/src/shared/en/aws/reference-data-put.md

[2019-07-06 18:15] #68 closed

[2019-07-06 18:15] brianleroux commented on #98
going to add this feature in 6.x

[2019-07-06 18:18] brianleroux commented on #83
appears most of these are now resolved but lmk if we're missing anything

[2019-07-06 18:18] #83 closed

[2019-07-06 18:19] brianleroux commented on #26
closing in favor of #282 dup

[2019-07-06 18:19] #26 closed

[2019-07-06 18:57] brianleroux opened #114 "architect 6.x docs master issue"
WIP on `v4` branch deploying here https://arc.begin.com

- [x] write runtime `arc.tables`
- [x] finish `/guides/testing`
- [x] write `/guides/upgrade`
- [x] restore https://arc.begin.com/reference/functions/http/node/classic
- [x] restore https://arc.begin.com/reference/functions/http/node/proxy
- [x] restore https://arc.begin.com/reference/functions/http/node/middleware
- [x] restore https://arc.

[2019-07-16 09:52] mikemaccana opened #116 "Some vagueness on /guides/spa"
I'm confused by this - I'd have thought that's normally possible on any platform, without any of those things.

Does it mean that the same route can be handled is multiple ways? Eg, an HTTP request from a browser that accepts HTML can go to `/bananas`, and an HTTP request from a API client that accepts JSON can *also* go to `/bananas` (rather than say `/api/v1/bananas`?

Or does it mean something

[2019-07-16 11:40] mikemaccana opened #117 "Feature: add Stripe-style 'pick your language' examples"
Arc 6 docs currently:

![image](https://user-images.githubusercontent.com/172594/61291355-379e5f80-a7c6-11e9-90c1-e6cacae0bbd6.png)

Which means python folk have to look at JS and Ruby, etc.

Proposing something like https://stripe.com/docs/billing/quickstart:

![image](https://user-images.githubusercontent.com/172594/61291425-66b4d100-a7c6-11e9-9f61-9bbfdebf3e86.png)

 - Client side JS is just se

[2019-07-16 11:48] mikemaccana commented on #114
Quick one for the review: it'd be good to use `request` consistently in the examples. Generally acronyms should be avoided in docs. `http` uses `request`, but there's still some `req` around. Happy to do this.

[2019-07-17 03:22] brianleroux commented on #117
I think

FUCK YA

esp as we add other runtimes this will be hugely needed

[2019-07-17 03:26] brianleroux commented on #116
Yea its confusing af.

Thinking thru some more strategies to make this simpler. Right now if you want to request an asset on S3 it will be served from a different domain which can make browsers sad (if we want to use HTTPS anyhow). The workaround is use the `/_static` proxy we add to API Gateway or use the the Lambda proxy at the root.

Did a bunch of research today trying to get the S3 bucket pro

[2019-07-17 20:49] brianleroux commented on #114
Yea think a deliberate style choice is good. The 'official' AWS moniker is `event` and does show up as a named param in Ruby and Python. so you end up doing `event[:request]` and stuff like that.

Mostly choose `req` because its pretty standard throughout node `http.createServer((req, res)` and the Express ecosystem but that makes less and less sense as we add runtimes.

[2019-07-17 20:50] brianleroux commented on #114
ok this isn't DONE but its a good first pass and moving over to other stuff

[2019-07-17 20:50] #114 closed

[2019-07-19 19:21] filmaj opened #118 "sharing code guide should make explicit that you can add a package.json in there"
that was kinda news to me. maybe it's not news. maybe it's obvious. dunno.

[2019-07-23 11:13] mikemaccana opened #119 "Document normal 404 behavior"
From that I've observed, this seems to be correct:

Is that accurate? Can I add docs for that (maybe using middleware to intercept the 404 requests and separate them from the regular requests to `/`)?

[2019-07-23 16:28] brianleroux commented on #119
yes to both! recently wrote the code for 404 detection for the sandbox and aim to get that into `arc.http`

[2019-07-24 12:24] #119 closed

[2019-07-24 12:26] mikemaccana commented on #119
Done! 🙂

[2019-07-29 11:32] WolfSkin0 opened #121 "Option to make npx deploy not use the full path to public/"
Is there the option to perhaps make npx deploy not use the full filepath to public/ (this is what it's currently doing: ```https://staging-project-data.s3.eu-west-2.amazonaws.com/D:/Repos/CMPY/PRJSM/serverless/public/main-es5.js```) since I have an angular SPA, and when it's calling files, it's calling them from the s3 bucket root instead of the full filepath (see picture below), and since I switc

[2019-07-29 12:11] WolfSkin0 commented on #121
Oops, sorry. Wrong repo, it turns out

[2019-07-29 12:11] #121 closed

[2019-08-19 08:21] mikemaccana opened #123 "Add POST body parsing to /public/guides/upgrade.md if needed"
Arc 5 used to parse bodies, Arc 6 does not:

Document this depending on how we want to handle this (see Slack discussion).

 - Parse bodies automatically (I like this if it's technically possible - if a request has a body, an Arc user probably wants to use it)

 - Modify `arc.http.helpers.bodyParser` to be Arc middleware (ie, just return the modified request) and tell people to use that. So people

[2019-08-19 08:26] mikemaccana opened #124 "Document Arc 6 `type` change"
Arc 5 had: `type: 'text/html; charset=utf8',`

In Arc 6 it it seems to be:
    `headers: { 'content-type': 'text/html; charset=utf8' },`

[2019-08-19 14:37] brianleroux commented on #124
This is documented! We should add detail to the upgrade guide tho

[2019-08-21 11:41] mikemaccana opened #171 "Add changes to await lambdas to Arc 6 changelog"
Ryan mentioned ages ago:

This isn't included in the https://arc.codes/guides/upgrade - that doc should have what the differences are added.

architect/architect#404

[2019-08-23 21:40] gr2m opened #127 "Version 6: Document that req.query is now req.queryStringParameters"
**Describe the issue**

I've just upgraded to v6 and found that `req.query` is undefined, it looks like `req.queryStringParameters` is the new property to use?

I did not find any note on this in the migration guide. Sorry if I missed something

[2019-08-23 21:53] gr2m commented on #127
`req.method` is now `req.httpMethod`

[2019-08-26 04:37] ryanblock commented on #127
That was already present here: https://arc.codes/primitives/http#req

However, we have just updated the Upgrade Guide here, which should make these changes much clearer!

Thanks for your patience. https://arc.codes/guides/upgrade

[2019-08-26 04:37] #127 closed

[2019-08-26 04:38] ryanblock commented on #124
That should have been present already here: https://arc.codes/primitives/http#req

However, we have just updated the Upgrade Guide, which should make these changes much clearer: https://arc.codes/guides/upgrade

[2019-08-26 04:38] #124 closed

[2019-09-09 18:46] alexandru-calinoiu opened #132 "Aws deploy issues"
**Describe the issue**
Trying to deploy the quickstrat project to aws. I stumble on 2 issues:

- I need to know what permissions my account should have
- Tried the deploy with a root account, the deploy apparently worked the url I got for it just returns a 502 (works when running with sandbox)

**Steps to reproduce**
Steps to reproduce the behavior:
1. Do the quickstart tutorial with ruby
2. Try t

[2019-09-09 19:02] tritowntim commented on #132
@alexandru-calinoiu looking at your repo, did you try specifying a bucket?

https://github.com/alexandru-calinoiu/arc-test/blob/master/.arc

In my experience, you have to create the bucket manually as well.

[2019-09-09 19:22] brianleroux commented on #132
can you share the .arc file and the exact console output from `arc deploy` /  error text you are seeing ?

[2019-09-09 19:28] jgallen23 opened #170 "macro in node_modules fails"
**Describe the issue**
I have a macro called [macro-log-subscription](https://github.com/firstandthird/macro-log-subscription) and I'm trying to load into my project, but its failing.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Install macro-log-subscription
2. Add log-subscription to @macros in .arc
3. run `arc-deploy`
4. See error that says `Error: log-subscription macro defined

[2019-09-11 03:36] alexandru-calinoiu commented on #132
Yes I've created a new S3-bucket and specified it, it see 2 files in it

![image](https://user-images.githubusercontent.com/679198/64666312-867f1300-d45e-11e9-8f80-8ab97059b6a5.png)

[2019-09-11 03:39] alexandru-calinoiu commented on #132
https://github.com/alexandru-calinoiu/arc-test/blob/master/.arc

There is no output error, the deploy seems to work fine and then when trying to access the result link https://7drj1wqt1d.execute-api.us-east-1.amazonaws.com/staging, erro.

[2019-09-11 04:42] brianleroux commented on #132
good catch, leaving this open so I can fix it trmw (or if you're feeling ambitious have a look!) the request sig was wrong:

[code]
fixes it! https://45q1uwez93.execute-api.us-east-1.amazonaws.com/staging

(was able to diagnose looking at cloudwatch logs in the console; part of the bug here is that the `arc logs src/http/get-index` didn't output the error … aws recently changed payload formatting

[2019-09-16 15:18] alexandru-calinoiu commented on #132
Thank you, it worked!

[2019-09-17 02:00] brianleroux commented on #132
all good! software is frustrating 💩 and I swear at it all the time !

[2019-09-26 17:25] brianleroux opened #169 "DNS guide"
Help folks help themselves with a walkthrough of issueing a cert, setting up route53 and adding the cert and cname to cloudfront.

[2019-10-09 01:43] shazron opened #141 "Quickstart: AWS_PROFILE default"
**Describe the issue**
Should AWS_PROFILE be required? According to the [AWS docs](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html) the `default` profile should be used if the environment variable is not set. Right now it is required.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Unset `AWS_PROFILE`
2. Follow the `Try it in 30 seconds` at https://arc.codes

[2019-10-09 01:48] shazron opened #142 "Exception when going to any key from Layout page"
## **Describe the issue**
Exception when going to https://arc.codes/reference/aws (as an example) from this page https://arc.codes/quickstart/layout

Other keys exhibit the same exception when navigated to.
![Screen Shot 2019-10-09 at 9 47 32 AM](https://user-images.githubusercontent.com/36107/66445580-d5c65c80-ea79-11e9-9be7-5e126f33c762.png)

## Fix:
`https://arc.codes/reference/aws` --> `https:

[2019-10-09 02:06] shazron opened #143 "Quickstart: AWS bucket setup instruction is skipped (implied)"
**Describe the issue**
30 seconds is optimistic if the user already has a bucket. It is not pointed out in https://arc.codes/quickstart nor https://arc.codes/ "Try it in 30 seconds" that you will need to create or have a bucket beforehand.

There should be a link to https://arc.codes/reference/arc/aws to give "green" users guidance on what to do next so the QuickStart is successful.

I realize tha

[2019-10-09 18:59] douglasmccarroll commented on #142
I'm getting the same thing when I try to go from https://arc.codes/quickstart to https://arc.codes/guides/multiple-aws-accounts.

[2019-10-11 12:19] brianleroux opened #145 "Dep MGMT guide"
Restore / rewrite guide for managing deps with npm/bundler/pip and `arc hydrate`

[2019-10-11 16:03] ryanblock opened #144 "Document special files + folders"
We should have a document dedicated to special files, folders, and deps within the Architect project. Examples:
- project manifests
  - `.arc`
  - `app.arc`
  - `arc.json`
  - `arc.yaml`
- static manifest
  - `$public/static.json`
- `src/`
  - `http`
  - `events`
  - etc.
- shared files
  - `src/shared`
  - `src/views`
- root `package.json`
  - doesn't influence per-function packages

[2019-10-11 16:04] brianleroux commented on #144
agree! probs here https://arc.codes/quickstart/layout

[2019-10-14 11:52] simonwfarrow opened #147 "Custom domain"
Hi,
I'm new to arch from v6, it has made it very easy to configure AWS for my functions, DB etc. I would now like to add my own domain to handle the http requests and serve my static site. I've come across posts referring to the @domain option and the dns command , however this appears to have been removed. How can I map my custom domain (registered with route 53) so it is used on each arc deploy

[2019-10-14 15:54] brianleroux commented on #147
Hey @simonwfarrow thx for writing us! Def an open issue to solve. I'll document the manual steps below.

0.) Ensure you have a `@cdn` pragma. While not strictly necessary I would consider is a best practice. This will generate a CloudFront CDN's for your API Gateway and S3 buckets when you run `arc deploy`. ⚠️ If you remove `@cdn` the next deploy will remove them!

1.) Architect has concepts of `s

[2019-10-15 09:03] simonwfarrow commented on #147
Many thanks @brianleroux for the speedy and detailed reply.
I will try this out and revert back with any findings.

[2019-10-15 14:31] simonwfarrow commented on #147
That worked perfectly. Couple of minor things to point out, mostly due to my lack of understanding I am sure, but may help in the guide.

For step 0, I added the @cdn option, this generated the CloudFront distribution  - this caused caching on all my GET requests ; following your user guide I had to add the Cache-Control headers and then invalidate the cache on CloudFront by creating a new invalid

[2019-11-15 22:30] konsumer opened #155 "@tables vs @indexes"
What is the difference between the 2? When should I use `@indexes`, as `@tables`seems to do the same thing (define indexes) and seems required for `@indexes` to work?

[2019-11-15 22:36] brianleroux commented on #155
tables define dymamodb tables and indexes define indexes on a dynamodb table. a dynamodb table has a partition key (and an optional sort key) and so does an index (which are usually different because you want to query the table from different data). LMK if this answers ur question!

[2019-11-15 22:50] konsumer commented on #155
That's confirms my understanding of the arc file, which is why I ask. Here is an example, how is this different?

[code]
vs

[code]

Since I need to add the def for table/indexes twice, it seems redundant (I would just use the first one.)

Ah! does this describe [GSI](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GSI.html)? That isn't at all clear to me, from the docs. should I

[2019-11-15 22:55] konsumer commented on #155
What if there was another syntax for GSI, to make it more compact and easier to read?

[code]

[2019-11-15 23:14] brianleroux commented on #155
we can def think on additional/different grammars … as far as the architect/parser is concerned everything comes back as as primitive JSON values. idk that we want to introduce breaking changes but very open to additive "change".

one thing to note is in Architect 6.x we removed the `Lambda` directive and instead just have one way to do DynamoDB streams. concretely based on your first example this

[2019-11-15 23:26] konsumer commented on #155
Makes sense. Thanks for the explanation.

[2019-11-16 00:08] konsumer commented on #155
I am currently evaluating arc, and seeing if it'll work for what I'm doing (seems awesome, btw.) If I end up using it, I'd be happy to make an additive-only change, if there is interest, to the syntax (like maybe just parse & move stuff with `+` to `@index`, and replace `+` with `*`.)

Ah, good to know. I pulled that example from the docs on main page, so maybe that should also be updated.

[2019-11-16 22:44] konsumer commented on #155
I amy be misunderstanding, and forgive me if this is the wrong place to ask, but it seems like the old syntax would allow me to hook lambdas into insert/update/delete events from dynamodb. How would I do this with the new syntax?

[2019-11-18 16:55] brianleroux commented on #155
the new syntax is more true to the implementation; you only get one dep free lambda for all stream events and then its up to your logic to filter on the events you're interested in. we have helper functions in `@architect/functions` library (but folks wanted a dep free default instead of our sugar)

[2019-11-21 22:36] konsumer commented on #155
I am still struggling with how to use these. I don't see any reference for using the indexes, once they are created, and I tried logging the `table` object, but it just has these, nothing about indexes:

[code]

I have an .arc like this:

[code]

which I intend to describe this:

* I don't want to scan, I want to pre-index by values and query that, for efficiency
* `experiments` & `variants` have

[2019-11-23 00:41] konsumer commented on #155
I noticed `await require('@architect/functions').tables()` has an async `reflect()` method, which seems to do what the docs talk about `_name` (which doesn't seem to exist anymore) and I can get the full names of  the tables. I also need the names of the index, though, to actually use them, right?

[2020-01-20 12:13] defionscode commented on #155
@konsumer GSIs aren't exposed as 'new' things. They allow you query the same 'Table' via a totally different partiion (and, optional sort key).

I highly recommend watching this https://www.youtube.com/watch?v=HaEPXoXVf2k and really digging through the aws dynamodb docs. It wasn't until I took the time to do that that I was able to feel comfortable with the DynamoDB-isms.

One of the things that A

[2020-01-22 03:19] konsumer commented on #155
I'm comfortable with nosql in general, dynamodb, and node aws-sdk lib, more specifically. I have seen that video before, but rewatched it, just now, to make sure I'm not missing anything big.

My problem here is that arc doesn't seem to follow the aws-sdk index-stuff, and I'm trying to translate. I'm still not clear how to use the sort of indexes I want, and I can't find a straightforward way to c

[2020-01-22 04:46] brianleroux commented on #155
Hey @konsumer I am so sorry about the ambiguity in our docs. It is our top priority to fix this year and we're just ramping up on it. Believe it or not the intent here is to make working with DynamoDB easier! And its pretty clear we're not succeeding in that goal. So again: sorry about the state of things here. Now let me try to explain.

We do nothing special with the tables in DynamoDB. You can

[2020-01-22 10:47] konsumer commented on #155
No prob! First, I totally get just being busy. We're all making software for free, have day jobs & family, etc, and we all have lots of things to work on. Docs often come second to features and fixes, so I completely understand. Not your fault or responsibility. Also, I'd like to help, but my understanding of arc needs to grow a bit I think, and I haven't had time myself to really dig in and figur

[2020-01-22 21:11] brianleroux commented on #155
nope! no worries. and thx! these comments really made my day. 🙏

this would be amazing! super appreciate all the help we can get!

[2020-01-23 00:14] konsumer commented on #155
I started work on porting that AWS example, [here](https://github.com/konsumer/arc-example). I still need to write the API wrapper and the actual GraphQL service, but I think it's all scaffolded out, and I described how to put it all together, for the most part.

[2020-01-23 22:56] konsumer commented on #155
As a related sidenote, I am running into discrepancies in the docs that I think contributed to my earlier confusion, and point out that things aren't exactly a 1-to-1 relationship between APIs, and slow down the learning process.

Here is an example:

According to the arc docs I should be able to do something like this:

[code]

This throws query errors about missing `KeyConditionExpression`. So I

[2020-01-23 23:28] konsumer commented on #155
Here is another one:

This makes total sense, but I get an error with this:

[code]

[code]
I get this::

[code]

I am guessing dashes are messing with it somehow.

Is there a quick way to lookup what it resolves to, without having to deploy it? Maybe something in `repl` or a util-lib that does this? After I know what it should be named, I can just make a constant for `GSI1`, so the code is a lite

[2020-01-23 23:35] brianleroux commented on #155
The interface in the docs should be right-- it is based on the `aws.DynamoDB.DocumentClient` (and not the `aws.DynamoDB` client). Docs for it are here https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB/DocumentClient.html

in the second comment I think you have a mistake…does this work:

[code]

[2020-01-23 23:36] brianleroux commented on #155
(note: I had to edit the await statement and the keycondexp!)

[2020-01-23 23:44] konsumer commented on #155
I get this error:

[code]

Ah, hmm, I guess it's the [AWS docs](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html#API_Query_Examples) that are confusing. Annoying that the dynamo APIs are so similar, but different. The discrepancy still stands in arc docs, though, underscores vs CamelCase don't work (as they are in the example query.)

[2020-01-23 23:53] konsumer commented on #155
When I remove the dashes liek this:

[code]

I still get an error with `gsi1pk-gsi1sk-index`:

[code]

[2020-01-24 00:13] konsumer commented on #155
What's even more baffling is I realized I could lookup the generated stuff by just running `arc package`. Duh! Looking at it, though, It actually creates the GSIs the way I would expect:

[code]

[2020-01-24 00:14] brianleroux commented on #155
can you login into the console and see whats been provisioned ?

[2020-01-24 00:17] konsumer commented on #155
I'm not sure how to do this. I'm trying to avoid making a bunch of random junk on my work's real cloud infra, so if I can do it locally in the emulator it'd be much better (otherwise I would just deploy and check in web console.)

[2020-01-24 00:19] konsumer commented on #155
Here is the sam.json:

[sam.json.txt](https://github.com/architect/arc.codes/files/4106257/sam.json.txt)

Could it be a stale emiulated table?

[2020-01-24 00:20] brianleroux commented on #155
it could be. the tables are maybe being generated wrong too. can you run describeTable against one to see what the indexes are ?

[2020-01-24 00:22] konsumer commented on #155
In what context? I can't find `describeTable` in `data` or `data.hroe`, in repl.

[2020-01-24 00:39] konsumer commented on #155
Maybe [gitter](https://gitter.im/) or discord would be faster to troubleshoot? I like gitter as it's tied to github projects.

[2020-01-28 16:54] ryanblock opened #193 "Architect docs v3 master issue"
Hey all! We are passionate about providing folks with excellent documentation docs, and Architect's current docs have fallen short of that goal and standard. I'm asking for the Architect community's help in executing the largest overhaul of Architect's docs since the framework's creation.

I've outlined the stages of this project below, the proposed hierarchy of content, and a detailed content out

[2020-01-28 19:01] grahamb commented on #193
Something that would be helpful, and I know has been raised before, is a list of the bare minimum permissions required to execute an `arc deploy`. I would love to be able to create a role that can deploy via arc and not have to give it * permissions on everything.

[2020-01-28 19:41] ryanblock commented on #193
@grahamb a legit request and understandable! However, I think there continues to be misinformation and misunderstandings around this topic.

Just to level set:
- Broadly speaking, AWS's IAM service creates, defines, and enforces roles and policies for access to AWS services
- In order to manage resources (both via CloudFormation and SDK), a deploying system (in this case Architect, but also SLS, e

[2020-01-29 07:31] leftieFriele commented on #193
I think the outline looks very good and will be a big improvement 👍 .
As a newcomer I felt the current outline did a decent job too, however it was in the details where I found the docs to be lacking in detail and in supplying good context in the beginning.
When it came to details I found some of the sample GitHub repos that you @ryanblock and @brianleroux created to be very helpful. The docs do a

[2020-01-29 10:57] konsumer commented on #155
I was playing around with [nosql workbench](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/workbench.html) and connected to port 5000 to see if I could mess with the arc app.

I started with this arc def:

[code]

and got this key/name structure, which doesn't seem to match docs or what we are talking about:

[code]

[2020-01-29 11:04] konsumer commented on #155
Also, these don't match what's in `arc package`:
[sam.json.txt](https://github.com/architect/arc.codes/files/4127599/sam.json.txt)

[2020-01-29 16:50] ryanblock commented on #155
@konsumer we're all on [Slack](https://join.slack.com/t/architecture-as-text/shared_invite/MjE2MzU4Nzg0NTY1LTE1MDA2NzgyMzYtODE2NzRkOGRmYw), please do join us there and we'd be happy to dig in with you. May also want to jump onto a Zoom call, since that may be faster still.

Re. the `describe-table` output and SAM JSON you posted today, giving it a once over I'm not seeing any issues but perhaps I

[2020-01-29 17:14] ryanblock commented on #193
@leftieFriele yeah, the details are where things are truly lacking. My expectation for this process is that we will start with a stub of each new document and rewrite it from whole cloth.

Out of curiosity, what does a "complete project" mean to you in this context?

(Related, there are lots of example projects here, but we don't show them off: https://github.com/architect-examples/)

[2020-01-29 23:40] konsumer commented on #155
The index-name doesn't match what you said above (it has the project-name and target in it: `arc-hroe-example-staging-hroe-GSI-Bucket-index`, not `GSI-Bucket-index`) and they don't match each other (`arc-hroe-example-staging-hroe-GSI-Bucket-index` actual vs `GSI-Bucket-index`, which is in sam.json.) I replaced `Data` in current code with `SearchData`, as it's a keyword.

Using these known key-name

[2020-01-30 07:18] leftieFriele commented on #193
I was not aware of @architect-exmaples, it is exactly what I was thinking of in regards to "complete projects" 👍 My apologies for not having picked up on that repo.

[2020-01-30 14:52] ryanblock commented on #193
@leftieFriele in all candor, we haven’t done a good job of making sure people found it, not have we done a good job of keeping the examples in there up to date! There are many still on Arc 5 for example. We can definitely use help there.

Perhaps we should post and maintain a help wanted doc for contributors to easily find things we could use a hand with!

[2020-01-31 02:17] konsumer commented on #193
@leftieFriele Agreed. I am working on a top-to-bottom example of using dynamob, mapped to [this AWS example](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/bp-relational-modeling.html). It's my plan to use the data as a base for other examples. Like make one tuned to a specific set of access patterns, then show the same data in a GraphQL server (with very different access pattern

[2020-02-01 16:58] ryanblock commented on #193
Just an update, we're now in the `Edits / amendments to doc outline` phase – please suggest any final proposed outline edits and amendments!

[2020-02-06 20:35] brianleroux opened #432 "Awesome macros^H^H^H^H^H^H plugins page"
possibly content for the site redesign idk but I do know that we should collect these somehow. here's some I've written

- https://github.com/brianleroux/arc-example-macro-sam-policies
- https://github.com/brianleroux/arc-example-cors-macro
- https://github.com/brianleroux/arc-macro-src-folder
- https://github.com/brianleroux/arc-example-macro

[2020-02-11 10:03] defionscode commented on #193
I would like to see a userland directory as maybe a standalone page? Custom macros are installable via `npm`, it would be cool if folks to could share their stuff on arc's docs 🤷🏻‍♀️.

[2020-02-11 15:15] ryanblock commented on #193
Yes! See also: https://github.com/architect/architect/issues/667

[2020-02-26 03:12] ryanblock commented on #193
Alright, here we go! https://github.com/architect/arc.codes.next

I'd like to ask y'all to take on some docs to write!

How about for now please PR here with your name commended beside any docs you'll be writing a draft of: https://github.com/architect/v3-arc.codes/blob/master/src/docs/ToC.js

Guidelines:
- Please make sure to read the new [Architect Docs style guide](https://github.com/architect/

[2020-04-02 16:33] filmaj commented on #193
Hey, wanted to help out with this. I sent a PR to the other arc.codes repo fixing some stuff but there's a new repo here now!

How should we go about dividing up the work? You mentioned sending a PR and commenting beside lines in the ToC.js. I don't see an open PR with this so kinda confused how this will work. One alternative suggestion: file issues for each section that needs writing, and assign

[2020-04-02 21:24] brianleroux commented on #193
you know with everything going on we sorta let this fall off the radar but def need to revisit.
heres a short list of things I think we should get going asap:

- should get deploying to next.arc.codes from ci/cd
- rough drafts of content brought over from the two repos ryan mentioned
- some css would be good (cc @kristoferjoseph!)

[2020-04-03 15:31] brianleroux commented on #193
FYI started working my way thru this and will chip at this every day. I'm just starting w the content. @ryanblock would be cool to get your github-action-fu on the CI/CD side. I could bootstrap w Begin.com for now maybe?

[2020-04-03 15:39] brianleroux commented on #193
well that was ridiculously easy https://shiny-hsd-staging.begin.app 🚀

[2020-04-03 15:43] filmaj commented on #193
let me know how I can help out, I'm confused how best to divvy the work up.. i've been working a lot with static, http and functions (`arc.http` and `arc.data`) lately so that stuff is fresh. feel free to just assign stuff to me one at a time.

[2020-04-03 16:01] brianleroux opened #213 "getting started content"
the new docs need fresh content for getting starting

https://github.com/architect/arc.codes.next/tree/master/src/docs/en/guides/get-started

prior art here:
- v6 https://github.com/architect/arc.codes/tree/master/public/quickstart
- v5 https://github.com/architect/v5.arc.codes/blob/master/src/shared/en/aws/quickstart.md
- v5 https://github.com/architect/v5.arc.codes/blob/master/src/shared/en/aws/

[2020-04-03 16:03] brianleroux commented on #213
should note the repo is now here https://github.com/architect/arc.codes.next for dev! we'll move it back here likely when things get stable I assume

[2020-04-03 16:08] brianleroux opened #214 "aws docs"
lets start chipping away at the new docs!

- [x] https://github.com/architect/arc.codes.next/blob/master/src/docs/en/guides/aws/aws-credentials.md
- [x] https://github.com/architect/arc.codes.next/blob/master/src/docs/en/guides/aws/configuration.md
- [x] https://github.com/architect/arc.codes.next/blob/master/src/docs/en/guides/aws/custom-iam-roles.md

[2020-04-03 16:18] brianleroux commented on #171
closing this! this feedback has dissipated now that we're 'standard' lambda

[2020-04-03 16:18] #171 closed

[2020-04-03 16:18] brianleroux commented on #170
macros getting a lot of love in the new docs. closing this

[2020-04-03 16:18] #170 closed

[2020-04-06 14:24] brianleroux commented on #141
this got fixed a while ago / sorry for the silence shaz!

[2020-04-06 14:24] #141 closed

[2020-04-06 16:07] filmaj commented on #213
So just some thoughts and questions here as I ruminate on the content:

- what is the goal of the document? how does this relate to any existing 'quick start' content (like the 'get started in 30 seconds' content on the home page)? does 'getting started' include deploying to aws or is it just about running locally? aiming for the former means there's a lot we need to flesh out up front (esp. regar

[2020-04-06 16:18] filmaj commented on #193
to echo some of the existing comments in this thread, i think it would be beneficial to enshrine a tutorial in these docs, that is, building a deployable app from start to finish, showing off some common patterns that folks typically have to master to be able to get into a good arc development flow. this should, i think, include: data modeling, code sharing across functions and static asset handli

[2020-04-06 16:20] brianleroux commented on #193
eh fil WDYT of https://learn.begin.com in this context ? its designed to walk a frontend developer through these basics to get them rolling / def could be improved and/or lifted to architect

[2020-04-06 16:49] filmaj commented on #193
That's pretty amazing and relevant content. totally that kind of thing is what i was talking about. i had no idea that existed :D

[2020-04-06 16:52] brianleroux commented on #193
yeah we can mirror / mimic it. the idea there is onboarding frontend developers with the major topics of interest to them in a sort of growth path. could see doing same with arc website and adding a few more paths: database/persistence centric learning, feedback control systems, deep integration with cloudformation using macros, etc

[2020-04-06 17:09] filmaj commented on #193
yeah i think it's super relevant and would be helpful for newcomers. i think the challenge in this issue is that, as these kinds of adjustments (i.e. add a tutorial? a new 'concept' or 'principle' section added?) land, it takes some effort to filter it back into the overall learning picture (which @ryanblock helpfully laid out as the 'outline' in the original post). the kind of local / organic / f

[2020-04-14 16:15] exalted commented on #123
At least aa of `v6.3.4` both `arc.http(...)` and `arc.http.async(…)` will already parse the body for you.

[2020-04-20 15:45] filmaj commented on #193
Noting this down: we should describe how to reference an index, via IndexName: "{pk-field}-{sk-field}-index"

Another thought: should the docs be nudging people towards using multiple tables in Dynamo? Seems like that is against the best practices (dynamo's benefits seem to be realized best when you can use it in a single-table design). Currently the examples in the docs all seem to have one-table

[2020-04-20 16:57] brianleroux commented on #193
yeah its a good q. I think they can arrive there themselves … single table design is more of a goal state than edict. you can absolutely have low to medium traffic with a totally normalized schema and probably won't care at all. high bandwidth scenarios where you want to squeeze every possible performance advantage will invite evolution/refactoring to a (probably additive, ironically) single table

[2020-05-07 04:15] sergelg90 commented on #75
Hey folks! Just discovered Architect and I'm really looking forward to what I can build with it.

On a side note, @brianleroux, this repo doesn't seem to exist anymore (HTTP 404).

Or maybe it's not public?

[2020-05-07 04:36] ryanblock commented on #75
Nice! That repo was renamed to: https://github.com/begin-examples/node-apollo (sorry it didn't forward!)

[2020-05-18 15:05] filmaj commented on #193
Jumping back into this one!

So @ryanblock's overview / original post is gold. I would prod/question a few points in the overall structure - nits, mostly - but I think it's important to have agreement on that structure as we move forward on the work.

# Suggestion 1: Tutorial + Walk Through Guide

I will reiterate a point I brought up earlier that I think what would help a lot of people is a 'beyo

[2020-05-18 18:59] filmaj commented on #193
Re: infra to run the site on, I was looking around at what the openJSF is able to provide and was able to find a [draft of openJSF infrastructure services the foundation is thinking of / already is providing](https://docs.google.com/document/d/1yQgEMvnY0apAEYoiysfae7qqmbJAfd4eLgmGKviPZ_0/edit) (was poking around openJSF "cross project council" repo github.com/openjs-foundation/cross-project-counci

[2020-05-19 12:15] filmaj commented on #193
Re: arc 6 in the docs, derp, already there; https://github.com/architect/arc.codes.next/ uses arc 6 in a simple static site setup, plus eleventy to generate the static assets.

I'm going to take a stab at one or a few PRs to the arc.codes.next repo with some of the ideas I covered in here. I will start with the 'stating project goal' tweak I mentioned above as I think that will need changing the T

[2020-05-19 17:10] filmaj commented on #193
I took a stab at tackling the "project goals" suggestion I mentioned above. I deployed my fork of arc.codes.next to begin (https://sweet-utn-staging.begin.app/), but only the homepage loads - all other links/pages seem to load the homepage.

You can still see the compare-view of the branch I have for this here: https://github.com/architect/arc.codes.next/compare/master...filmaj:mission-vision. I t

[2020-05-19 22:35] brianleroux commented on #193
eh Fil sorry been meaning to respond in detail but a quick tip! by default we enable `ARC_STATIC_SPA=true` for static apps (which always redirects to the home page). this default was probably a mistake…I kinda regret it…but anyhow setting `ARC_STATIC_SPA=false` will revert the proxy to behavior you and I would expect

[2020-05-19 22:42] filmaj commented on #193
Works as expected now, thank you 😄

[2020-05-20 12:38] filmaj commented on #193
Thought more about 'where to host' the docs and on second thought, if Begin would be gracious enough to host them, then I see no problem with that. On the other hand, if the OpenJSF _does_ have an AWS account they are willing to spot the project, then that would be ideal as it allows the project to eat its own cooking.

[2020-05-20 15:19] brianleroux commented on #193
we have one! we have to get you creds =) its a bit faster to prototype with begin.com rn but we'll move it to openjsf infra for sure

[2020-05-21 23:40] #214 closed

[2020-06-26 12:23] tomchiverton opened #237 "Broken link in docs"
**Describe the issue**
Broken link in docs @ https://arc.codes/guides/share-code

**Steps to reproduce**
Steps to reproduce the behaviour:
1. Go to https://arc.codes/guides/share-code
1. Scroll down to end
2. Click on 'Static Assets'
4. See error that says 'The specified key does not exist.'

**Expected behavior**
A page loads

[2020-06-26 12:40] filmaj opened #239 "Changing runtime on doc page for one example changes it all for examples"
**Describe the issue**
Some individual code blocks on various pages in the docs have a dropdown that lets you pick a runtime to see the example code in (usually JS, Ruby, Python). If there are multiple such code blocks on a single page, if you change the example in one code block, all code blocks also switch their runtime. Additionally, when this occurs, the dropdown does not update for the other

[2020-08-21 16:58] filmaj opened #248 "Clarify how proxying works with respect to static"
**Describe the issue**
<img width="700" alt="Screen Shot 2020-08-21 at 12 36 33" src="https://user-images.githubusercontent.com/52645/90915548-bdb7ad00-e3ad-11ea-9b7e-072e91014a7e.png">

**Proposed Fix**
What if we add an additional qualifying section before the '[Work Locally](https://arc.codes/primitives/static#local)' section on the [static guide](https://arc.codes/primitives/static) that descr

[2020-10-26 20:01] filmaj opened #273 "Link to 'how to use multiple AWS accounts' 404s"
**Describe the issue**
https://arc.codes/guides/multiple-aws-accounts is a 404

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to https://arc.codes/reference/arc/aws
2. Click on 'Multiple AWS Accounts'
3. Womp womp

[2020-11-18 02:26] filmaj opened #279 "add `arc destroy` to reference"
easy one! we should doc it under the command reference

[2020-11-19 04:46] #279 closed

[2020-11-27 18:59] filmaj opened #285 "Document new @streams format of defining streams"
**Is your feature request related to a problem? Please describe.**
Would be nice to document the new `@streams` pragma, describing the options for custom filepaths for those of us who must toil in transpilationlandia would be nice 😄

**Describe the solution you'd like**
Probably a new reference section for `@streams`, as well as linking / updating the streams section of the `@tables` docs appropri

[2020-11-30 06:32] dependabot-preview[bot] opened #287 "Dependabot couldn't authenticate with npm.pkg.github.com"
Dependabot couldn't authenticate with npm.pkg.github.com.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/architect) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/architect/update-logs/57001713).

[2020-12-02 06:06] #287 closed

[2020-12-02 06:06] dependabot-preview[bot] opened #289 "Dependabot couldn't authenticate with npm.pkg.github.com"
Dependabot couldn't authenticate with npm.pkg.github.com.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/architect) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/architect/update-logs/57398685).

[2020-12-07 06:35] #289 closed

[2020-12-07 06:36] dependabot-preview[bot] opened #292 "Dependabot couldn't authenticate with npm.pkg.github.com"
Dependabot couldn't authenticate with npm.pkg.github.com.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/architect) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/architect/update-logs/58010068).

[2020-12-07 06:41] #292 closed

[2020-12-08 06:36] dependabot-preview[bot] opened #293 "Dependabot couldn't authenticate with npm.pkg.github.com"
Dependabot couldn't authenticate with npm.pkg.github.com.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/architect) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/architect/update-logs/58232130).

[2020-12-10 18:43] #293 closed

[2020-12-11 06:32] dependabot-preview[bot] opened #295 "Dependabot couldn't authenticate with npm.pkg.github.com"
Dependabot couldn't authenticate with npm.pkg.github.com.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/architect) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/architect/update-logs/58806133).

[2020-12-11 19:21] #295 closed

[2020-12-12 02:42] brianleroux commented on #273
removed link from `master`… this content moved to `main` … new site coming soon!

[2020-12-12 02:42] #273 closed

[2020-12-12 02:42] brianleroux commented on #168
documented (first pass) in v8 on main now

[2020-12-12 02:42] #168 closed

[2020-12-12 02:43] #167 closed

[2020-12-12 02:43] #166 closed

[2020-12-12 02:47] #118 closed

[2020-12-12 02:48] brianleroux commented on #169
backed in src on main; this will be coming soon!

[2020-12-12 02:48] #169 closed

[2020-12-12 02:48] brianleroux commented on #145
on main

[2020-12-12 02:48] #145 closed

[2020-12-12 02:49] #144 closed

[2020-12-12 02:50] #213 closed

[2020-12-12 21:25] filmaj opened #297 "Clarify that direct deploys require a glob-compatible path parameter"
**Describe the issue**
The current CLI reference for deploy makes no mention of the need to pass a path-like parameter to the command. Kind of integral to direct/dirty deploys!

**Steps to reproduce**
See https://arc.codes/reference/cli/deploy

**Expected behavior**
We should make that clear.

**Additional context**
Someone was having trouble with that command on Slack and this issue was a point o

[2020-12-13 05:34] brianleroux opened #298 "v8 docs transition issues"
# design/frontend <3

- [x] tables need styling (see https://v8.arc.codes/docs/en/guides/developer-experience/sharing-code)
- [x] https://v8.arc.codes/docs/en/about/playground
- [x] manifest file web component setup
- [x] fix 'edit on github' link

## needs content written or edited

- [x] https://v8.arc.codes/docs/en/guides/developer-experience/custom-source-paths
- [x] https://v8.arc.codes/docs/

[2020-12-13 05:47] brianleroux commented on #143
Thx for reporting this Shaz! (We create a bucket automatically now.)

[2020-12-13 05:47] #143 closed

[2020-12-13 05:48] brianleroux commented on #155
(Def considering Discord these days!) Gonna close this for now hope you're doing well! 👋

[2020-12-13 05:48] #155 closed

[2020-12-13 07:06] #132 closed

[2020-12-18 20:33] mikemaccana opened #304 "`ws` doesn't seem to work in `package.json`"
**Describe the issue**
`ws` in `package.json` breaks. Using the syntax defined at https://v8.arc.codes/docs/en/reference/app.arc/ws

**Steps to reproduce**

https://github.com/mikemaccana/fullstack-serverless-starter-kit/tree/websockets-package-json-issue has a reproduction case - it uses `package.json` to define `ws` and websockets break.

But undo the last commit (which swaps from `app.arc` to `

[2020-12-18 20:48] mikemaccana commented on #304
~Wrote and deleted a comment here, I thought I'd found a workaround to make `package.json` work but I still had a `.arc` file on the disk~

[2020-12-18 20:54] mikemaccana commented on #304
If it helps: even using the result of `parser(lexer(code))` directly in the `arc` key in `package.json` still triggers the issue.

[code]

[2020-12-19 22:21] #298 closed

[2020-12-20 17:47] ryanblock commented on #304
The issue is not json, it's because you added `any /*` to your root, which is winning over `post /__arc` (the internal WebSocket route). Remove these lines, it'll work: https://github.com/mikemaccana/fullstack-serverless-starter-kit/blob/websockets-package-json-issue/package.json#L12-L15

Will have to consider a fix for this edge case.

[2020-12-21 12:05] mikemaccana commented on #117
We did this in the V6 docs site we could port the code to the V8 docs site....

[2021-01-04 20:43] buffpojken opened #311 "Request/response handling is very hard to find."
**Is your feature request related to a problem? Please describe.**
Coming back to Arc from a few major versions back, I found it very hard to find how http function handling had changed, and how it currently works, given the major changes in request/response-handling. Finding it today requires reading through the entire ```Runtime```-section, and it's mentioned under middleware.

It's not clear if

[2021-01-04 20:44] buffpojken commented on #311
If this is something you'd wish to entertain, I'd be more than willing to make a PR with the suggested changes.

[2021-01-04 20:48] buffpojken opened #312 "It's not obvious in the docs that "arc init" is mean to be rerun."
**Is your feature request related to a problem? Please describe.**
It's not obvious, both from the docs structure and the naming that ```arc init``` is meant to be rerun in order to generate new code for changes in the arc-file.

**Describe the solution you'd like**
A section added to ```Quickstart``` which walks through adding a function, and then adding another one - running ```arc init``` as pa

[2021-01-23 22:13] filmaj commented on #311
Thanks for filing this!

I empathize with you about coming back to this a few major revisions behind. We have kept an [upgrade guide in the docs](https://arc.codes/docs/en/about/upgrade) up to date with each major revision, and I think some of the information you were looking for is in there. Perhaps the upgrade guide should be highlighted more? Right now it's all the way at the bottom of the side

[2021-01-23 22:23] filmaj commented on #312
This is a great suggestion! I would like to collaborate on that effort in a PR if you're willing to open one?

[2021-01-24 14:07] kristoferjoseph commented on #312
Great addition.
This behavior just changed recently so it would be great to show how to use it by default as well as configure autocreate to get the previous behavior if you like.

Set autocreate to true for previous default behavior.

[2021-01-26 20:38] jorydotcom opened #321 "[info] OpenJS - upcoming conference news"
Wanted to share this FYI out to the architect community to let ya’ll know that the OpenJS Foundation has opened its [call for speakers](https://openjsf.org/announcement/2021/01/11/openjs-world-2021-save-the-date/) for the upcoming virtual OpenJS World event on 9 June 2021. We would love to make sure the project is well represented in the conference content! If anyone is interested and has more que

[2021-01-28 21:37] brianleroux commented on #321
Awesome thx @jorydotcom ! Do you have banner assets and stuff ? Happy to get that up there.

[2021-02-10 03:28] reconbot opened #326 "docs: @sandbox-startup not documented"
**Describe the issue**
Cli tells me to use `@sandbox-startup` and docs tell me to use `@sandbox\nstartup`

**Steps to reproduce**
Steps to reproduce the behavior:
1. use `@sandbox`
2. run `arc sandbox`
3. get told to use `@sandbox-startup`

**Expected behavior**
Docs for `@sandbox-startup

**Additional context**
It does not appear that `@sandbox-startup` takes more than one line of commands to run

[2021-02-10 04:46] filmaj commented on #326
Huh, I added this recently (#320). I guess it wasn't deployed? One sec...

[2021-02-10 04:54] filmaj commented on #326
OK it should be live now https://arc.codes/docs/en/reference/prefs.arc/sandbox-startup

Sorry about that!

[2021-02-10 04:54] #326 closed

[2021-02-10 14:13] filmaj commented on #326
Yes I think so!

On Wed., Feb. 10, 2021, 00:38 Francis Gulotta, <notifications@github.com>
wrote:

[2021-02-10 17:22] filmaj commented on #326
Ah yes, with indents, me too. Removing the indents fixes it, here's what my `preferences.arc` looks like:

[code]

I will update the docs!

[2021-02-10 17:28] filmaj commented on #326
Alright docs updated! https://arc.codes/docs/en/reference/prefs.arc/sandbox-startup

Sorry about that, part 2!

[2021-03-04 17:48] filmaj opened #332 "Add `arc.tables` API interface"
Would be nice to see a full description of the `get`, `put`, `query` interface instead of the current 'this is a facade' blurb at https://arc.codes/docs/en/reference/runtime/node#arc.tables:

[2021-08-26 21:38] tbeseda opened #366 "🔀 Use Shiki for syntax highlighting"
Replacing highlight.js looks to be straightforward after reviewing existing implementation and the Shiki API.
I'm still learning about [tmLanguage and tmGrammar formats](https://code.visualstudio.com/api/language-extensions/overview), how we might centralize those resources between the VS Code extension, the Arc docs here, etc.

Definitely open to input here 😄

Further info and reasoning:

<detail

[2021-09-02 16:39] #366 closed

[2021-09-02 17:14] #321 closed

[2021-09-02 17:17] tbeseda commented on #142
Thanks for reporting. Cleaning up some stale issues.

[2021-09-02 17:17] #142 closed

[2021-09-02 17:22] tbeseda commented on #147
Thanks for the discussion. and for future reference, arc.codes now has some docs around domains and Route53 here https://arc.codes/docs/en/guides/domains/route53

[2021-09-02 17:22] #147 closed

[2021-09-02 17:33] tbeseda commented on #117
arc.codes now has a tabbed interface for code blocks in different languages. I think one idea that hasn't been implemented yet is to change other code samples on the same view, or even storing the preference across the site
Closing this and we can continue talking further improvements in #239

[2021-09-02 17:33] #117 closed

[2021-09-13 20:38] tbeseda opened #380 "Use available doc attributes when creating the HTML title"
The generated `<head> <title>` content should include the document title even if the category attribute isn't present.

Each doc has ["frontmatter" content](https://github.com/architect/arc.codes#markdown--frontmatter).
This is optional but encouraged.
The `category` and `title` attributes from frontmatter are used to create the HTML document's title.
Both are needed, otherwise the full title defa

[2021-09-14 03:08] macdonst opened #381 "Scrollable Code Blocks are not keyboard accessible"
**Describe the issue**
Scrollable Code Blocks are not keyboard accessible.

**Steps to reproduce**
1. Go to https://arc.codes/docs/en/guides/get-started/quickstart
2. Click on `Quickstart` with your mouse
3. Hit the tab key and it takes you to the `env CLI reference` link
4. Hit the tab key again and it takes you to the `Edit this doc on Github →` link, skipping the code block.

**Expected behavio

[2021-09-14 03:20] macdonst opened #382 "Registrars menu is not keyboard accessible"
**Describe the issue**
The `Registrars` menu is not keyboard accessible. When you navigate the side nav using the tab key the menu doesn't expand so you need to click tab 7 times before `Custom CloudFormation` becomes highlighted.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to https://arc.codes/docs/en/guides/get-started/quickstart
2. Click on `Domains`
3. Hit the tab key and it

[2021-09-14 03:39] ryanblock commented on #381
I'd also like to see these wrap, please!

[2021-09-14 13:31] macdonst commented on #381
If we add `white-space:pre-wrap; word-break: break-word;` to the CSS of the pre tag it will look like this:

![Screen Shot 2021-09-14 at 09 23 30](https://user-images.githubusercontent.com/353180/133265661-927b6619-a635-4089-843e-f79d0bf91b74.png)

I can send a PR for this if it looks okay to everyone.

[2021-09-15 18:55] rubiconjosh opened #386 "Documentation: DNS Guides Links Broken"
**Describe the issue**
Specific DNS Guides links in documentation do not work

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to: https://arc.codes/docs/en/guides/domains/overview
2. Click on: Any link under DNS Guides
3. See error that says: `NOENT: no such file or directory, open '/var/task/node_modules/@architect/views/docs/en/guides/domains/route53.md'`

**Expected behavior**
Do

[2021-09-15 19:09] #382 closed

[2021-09-15 19:19] macdonst commented on #386
@rubiconjosh thanks for the bug report and PR. We've deployed the fix to the docs site.

[2021-09-15 19:19] #386 closed

[2021-09-15 19:56] macdonst opened #388 "Contrasting background for inline code snippets"
Inline code blocks are hard to differentiate from the rest of the docs.

For example:

is rendered as:

![Screen Shot 2021-09-15 at 15 51 04](https://user-images.githubusercontent.com/353180/133500015-3a3f9abd-027a-4ab6-a3cd-12bc815ae278.png)

The word `arc` doesn't jump out on you on this line in the above screenshot.

[2021-09-15 21:00] macdonst commented on #388
Fixed in v3.4.3

[2021-09-15 21:00] #388 closed

[2021-09-16 22:19] macdonst opened #391 "Add inclusive language check to PR's"
We should add a workflow step for PR's to check to make sure our docs are using inclusive language.

I've looked at a few possible options:

- [Alex.js](https://alexjs.com)
- [ES Lint Inclusive Langauge Plugin](https://github.com/muenzpraeger/eslint-plugin-inclusive-language)
- [Woke](https://github.com/get-woke/woke)

Not unlike the story of Goldilocks and the 3 Bears. Alex.js casts its net too w

[2021-09-17 00:09] tbeseda commented on #391
I like this idea. And thanks for doing the research.

Sounds like Woke is a great tool. It can run on Github Actions and if you want to test language locally there are ways to install on a personal dev machine and run any arbitrary set of files.
Most of the time it would be totally fine for language to be checked on the PR.

[2021-09-17 02:28] macdonst commented on #391
Right now the if you are on a M1 Mac there are no binaries so you'd have to build from source. I opened a [bug](https://github.com/get-woke/woke/issues/139) in the woke repo.

Otherwise it should be pretty easy to install: https://github.com/get-woke/woke#install-woke

[2021-09-17 02:32] macdonst commented on #391
Oh and when I run `woke` against arc.codes it doesn't find any problems.

[2021-09-19 17:37] macdonst opened #395 "Add Dark Mode support for arc.codes website"
Add a dark mode option for folks who want to reduce eye strain or draw less power on their devices (OLED screens).

[2021-09-20 02:58] macdonst commented on #395
![oh-you-think-darkness-is-your-ally-but-you-merely-adopted-the-dark-i-was-born-in-it-moulded-by-it](https://user-images.githubusercontent.com/353180/133953165-898299a0-eb5a-411c-a07e-e71a474fa2de.jpeg)

[2021-09-23 00:37] #395 closed

[2021-09-23 00:37] #391 closed

[2021-09-23 01:12] #380 closed

[2021-09-23 01:59] tbeseda opened #398 "GitHub Actions: remove Slack and add Discord"
Some resources I found
- https://github.com/marketplace/actions/discord-webhook-notify
- https://github.com/marketplace/actions/discord-message-notify
- https://github.com/marketplace/actions/actions-status-discord

I'm happy to take a look soon

[2021-09-23 02:07] macdonst opened #399 "Docs don't agree on default node runtime"
In different places on the site we state that nodejs12.x and nodejs14.x is the default runtime for lamdas.

We should do a pass on the docs to make sure they are all up to date and in agreement with each other.

[code]

[2021-09-23 02:12] tbeseda commented on #399
And in select places where we mention Node14 it might be worth noting that ES modules, even with `"type": "module"`, are not supported by AWS Lambdas

[2021-09-23 15:37] tbeseda commented on #332
Looks like the docs have improved since this issue was filed. There's method reference and a brief example now https://arc.codes/docs/en/reference/runtime/node.js#arc.tables
Thanks!

[2021-09-23 15:37] #332 closed

[2021-09-24 15:59] tbeseda commented on #399
Is this one fixed @macdonst ?

[2021-09-24 16:03] macdonst commented on #399
@tbeseda yes, it is fixed. Still trying to get a handle on when we close issues:

1. When the code lands in main?
2. When the code is deployed to arc.codes?

[2021-09-24 16:03] #399 closed

[2021-09-24 22:41] #398 closed

[2021-09-27 17:54] tbeseda commented on #297
Looking at some open issues. This is an easy change that is still relevant IMO
But I'm wondering if we should remove "dirty" from the docs in favor of "direct". From what I can tell, "dirty" is legacy and just supported in architect/deploy as an alias for "direct" right?

[2021-09-27 18:02] tbeseda commented on #123
This issue is a bit old but I have noticed that there are occasional user issues where the body was expected to be parsed. So there's room for improvement in the docs around how vanilla arc works and how arc works with arc/functions.

I'm going to close this one in favor of a related, more recent issue: #311 -- It's more targeted at current points of friction

[2021-09-27 18:02] #123 closed

[2021-09-28 13:38] macdonst commented on #391
@tbeseda woke has been updated to be able to run on M1 Macs.

[2021-09-28 13:43] tbeseda commented on #391
Right on, I can test it out today. thanks!

[2021-09-28 16:13] tbeseda opened #405 "Mobile: TopNav"
Now that the Arc docs site feature-set has grown (dark mode FTW!), it's worth revisiting how the top nav works on mobile.

Currently, there are 3 static buttons for Discord | GitHub | dark mode and a hamburger menu for the docs navigation.
Also, we left search out of the mobile interface when it was initially implemented.

What could this combination of features look like? ideally? we can then dec

[2021-09-28 16:20] tbeseda opened #406 "Discussion: Style and brand standards -- colors, type, etc"
Moving quickly has been great for Arc docs lately, but it has been noted that standards around style have drifted.

To keep other iterative improvements moving, let's use this issue to plan a course of action (if any) to address things like a consistent color palette (including new dark mode and syntax highlighting), type size (bump it down?), and other overall design features.

[2021-09-30 18:03] macdonst commented on #405
A couple of options that I can think of:

1. Slide search down under the Architect banner.

![Screen Shot 2021-09-30 at 13 57 47](https://user-images.githubusercontent.com/353180/135507325-53590b5c-dbb3-42e4-b695-19ce0067f381.png)

2. Move the Search bar to the top of the navigation section for both desktop and mobile.

![Screen Shot 2021-09-30 at 14 00 21](https://user-images.githubusercontent.co

[2021-09-30 18:12] macdonst opened #407 "Chore: Bump font size down one notch"
The default font size is 18px and we should investigate the readability if we drop it down to 16px.

[2021-09-30 18:15] tbeseda commented on #407
think we could make this part of the discussion here? https://github.com/architect/arc.codes/issues/406

[2021-09-30 18:16] macdonst opened #408 "Discussion: Should we add a Copy button for code blocks?"
Would folks find it useful if code blocks had a copy button?

For example when you need to type a terminal command like:

[code]

[2021-09-30 18:19] macdonst commented on #407
I broke this one out specifically since it is a 1 character change and quick scan of about 5 other tech docs site they too seem to use 16px as the base font size. Now that it's been drawn to my attention I can't unsee it.

We can probably make this change now and let folks comment on it in #406.

[2021-09-30 18:19] tbeseda commented on #408
I definitely like this feature.
I have these items bookmarked from a recent implementation
* https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Interact_with_the_clipboard
* https://stackoverflow.com/questions/400212/how-do-i-copy-to-the-clipboard-in-javascript
Especially now that this sort of things doesn't require a Flash fallback 😱

[2021-09-30 18:28] macdonst commented on #408
Yeah, it's pretty easy now. You have a hidden textarea that has the same contents as the pre element. Then you execute a bit of JS on the copy button click.

[code]

[2021-10-01 00:55] tbeseda commented on #405
Nice previews. I kinda like option 2. Only issue might be that it isn't readily accessible when the side bar is scrolled way down. Maybe it's sticky inside that container?
tbh both look great and I could go either way

[2021-10-04 20:05] macdonst opened #411 "[arc.codes] Documentation Outline"
Notes:
- New document structure:
  - Top-level docs
  - Category
    - Category-level docs
    - Group
      - Group-level docs
      - Hidden group-level docs (see: Setting up a domain sub-docs)
- about/mission doc to be subsumed by `The Architect Way`

---
- [ ] Home (not in the nav)
  - [ ] > Welcome
  - [ ] > Installation
  - [ ] > Get started
---
**Side Navigation**
- [ ] Introduction

- [ ]

[2021-10-05 02:38] tbeseda commented on #411
Do we have any plans for redirects for the large swath of URLs we are about to change?
I'm all about the better naming and organization, but it might cause 404s from places we don't control.

We already have a redirect map with ~60 paths that we could expand. Or maybe we could make a "smarter" system that looks for a similar doc name? Or maybe there's a way to pass a search term to the search widg

[2021-10-05 19:37] tbeseda commented on #411
For sure going to add to the existing map for known deprecated paths.
Also going to add some 404 to catchalls that don't resolve to a doc. Could be a cool place for an embedded search.

[2021-10-13 00:36] tbeseda opened #423 "Move project config/manifest to app.arc?"
What are thoughts on changing arc.codes' manifest to `app.arc` instead of in `package.json`?

In my view, the .arc syntax is an upside to the framework and it's presented as first class in the docs. But I'd definitely like to learn more if package.json is preferred. Or maybe there's a technical reason?

[2021-10-13 16:19] gregorym opened #426 "Deploy standalone lambda functions"
**Is your feature request related to a problem? Please describe.**
This a question related to the docs and understand a use case.

**Describe the solution you'd like**
I would like to create an HTTP endpoint that can trigger thousands of lambdas (~10,000) and after it's completion, trigger custom logic.
My understand is I could use Events to achieve a similar behavior, however I won't be able to k

[2021-10-13 17:22] #423 closed, assigned to tbeseda

[2021-10-13 17:52] ryanbethel opened #427 "Add doc for asap templating in public assets"
If assets in public folder are retrieved using asap you can include strings like ${STATIC('file.png')} or ${arc.static('file.png')} and those strings will be replaced with the fingerprinted references to that file. I don't think this is in the docs.

This is the only way to reference from one static asset to another when fingerprinting is turned on.

[2021-10-13 17:54] ryanbethel opened #428 "Link to custom source paths from the @http section of docs."
@http is the place I reference to find the syntax for custom source paths, but it is not linked to from that section.

[2021-10-14 02:51] gregorym commented on #426
My use-case is slightly different  this this.
The `done` event needs to happen when ALL `run` are completed, not after each individual `run` event.

[2021-10-14 05:23] brianleroux commented on #426
sure, that too is likely trivial. we've now entered 'it depends' territory. can you share more about the use case and how you expect the 10k events to be initiated and what the situation is like at that moment ?

[2021-10-14 07:05] filmaj commented on #426
I like your approach @brianleroux ! Use of the database gives you flexibility to model the state you need.

I've implemented something similar (my particular use case was for throttling a firehose of work that relied on a rate-limited third party API) using a queue (SQS), a couple of events, and a scheduled function, though I decided to use my own implementation of an SQS-based queue and not the b

[2021-10-14 17:29] gregorym commented on #426
Here's the most naive approach to explain my use case.
![Untitled](https://user-images.githubusercontent.com/245300/137366903-0208bf14-f94d-416d-8d1b-75e2cccb2289.png)

[2021-10-16 10:43] filmaj commented on #297
I believe direct is preferred over dirty, though it has never been discussed.

[2021-10-21 15:45] #427 closed, assigned to tbeseda

[2021-10-25 23:53] tbeseda opened #435 "New pragma short URLs don't work in production"
https://arc.codes/@http should redirect to https://arc.codes/docs/en/reference/project-manifest/http

[code]

The redirect works as expected locally.

https://arc.codes/examples does redirect correctly. This is a part of the same redirect map code path.
I suspect the issue is the `@` symbol.

[2021-10-26 16:50] brianleroux opened #436 "Zindex on mobile borked"
![Screenshot_20211026-090230](https://user-images.githubusercontent.com/990/138924777-ac1f3614-18c6-4bec-a9cb-24bfe85777f8.png)

[2021-10-27 04:39] tbeseda opened #438 "arc.codes app seems slow"
It _feels_ like the responses are taking longer.
Others have reported multi-second response times -- not good for something that's 100% static.
We should attempt to reproduce locally and attempt some profiling.

[2021-10-27 11:31] kristoferjoseph opened #439 "z-index issue: code blocks stack above mobile menu on device"
![Screenshot_20211027-042813](https://user-images.githubusercontent.com/76308/139057433-7a8404dc-6739-4c07-818d-b8a07d755e9d.png)

[2021-10-27 11:33] kristoferjoseph opened #440 "wrapping in code blocks makes code unreadable"
![Screenshot_20211027-043248](https://user-images.githubusercontent.com/76308/139057773-b8459a83-1e54-4dc9-a322-5d40cf887f11.png)

[2021-10-27 15:32] #439 closed, assigned to nobody

[2021-10-27 17:32] tbeseda opened #441 "arc-viewer tab code block rounded corners in dark mode"
It's a small thing but it's driving me nuts

<img width="827" alt="image" src="https://user-images.githubusercontent.com/15697/139116693-b95176d2-9754-425a-ac63-f1fbda56b623.png">

[2021-10-27 17:42] tbeseda opened #442 "Document new runtime aliases"
arc 9.2 recently added

[2021-10-27 17:50] #436 closed, assigned to macdonst

[2021-10-27 18:17] #248 closed, assigned to nobody

[2021-10-27 22:01] tbeseda opened #443 "Add redirects for v5 and v6 paths"
These are still indexed and referenced. Should be able to redirect to existing routes for perpetuity.

[code]

[2021-10-27 22:01] #435 closed, assigned to tbeseda

[2021-10-28 02:41] #441 closed, assigned to macdonst

[2021-10-28 02:41] #440 closed, assigned to macdonst

[2021-10-28 16:30] #428 closed, assigned to tbeseda

[2021-10-29 19:19] #443 closed

[2021-10-29 21:27] #442 closed

[2021-11-03 14:44] tbeseda commented on #438
Vastly improved after ditching Shiki.

[2021-11-03 14:44] #438 closed

[2021-11-04 00:11] macdonst commented on #438
It's improved for sure but we may want to take another pass on this next week.

[2021-11-04 01:14] tbeseda commented on #438
Maybe we come up with a good target render time for the heaviest page (Node.js runtime helper doc?) and open another issue to see how close we can get.

[2021-11-04 02:09] macdonst commented on #438
I think the big thing is to look into cold starts especially when you go to https://arc.codes as you can get back to back cold starts as it redirects to another lambda.

[2021-11-05 13:48] macdonst opened #454 "Update style of level three groupings"
Update the link so it is the same color as other side nav links and style the details element so it doesn't use an arrow which may get confused with the currently selected page.

![registrars](https://user-images.githubusercontent.com/353180/140520248-3fbbeb07-5508-4eee-9a8a-ad3facd11eb0.png)

[2021-11-08 20:57] ryanbethel opened #455 "Dark mode + block quote links = hard to read"
In dark mode both regular and visited link styles inside block quotes are quite hard to read. Below the visited link is almost unreadable on my monitor. Admittedly I have a bad monitor.

![Screen Shot 2021-11-08 at 3 52 58 PM](https://user-images.githubusercontent.com/26754584/140816576-c1ca73ce-7e2c-4109-8878-5076a545de9e.png)

[2021-11-09 14:31] tbeseda opened #456 "Add requirements"
These should be in the docs somewhere
https://github.com/architect/architect/commit/5262f33bd6ee9e7987a7606de0c9e155b872d802

[2021-11-11 22:15] tbeseda opened #458 "Right-hand subnav"
I think arc.codes could benefit a great deal from a new sub-nav for pages with the `section` attribute.
see: https://github.com/architect/arc.codes/blob/main/src/views/docs/en/reference/configuration/function-config.md?plain=1#L5-L12
Then I can help fill in other docs' sections. Like the Node Runtime Helpers, the aws pragma doc, etc.

[2021-11-17 16:13] #458 closed

[2021-11-23 17:07] shalvah commented on #311
This is a real need. I'm new to Arc (but have experience with Serverless) and am using Ruby, but I can't find any info on how to write a simple HTTP handler in the docs. What's more, the generated template is not correct (no `request` object is passed into the handler even though it declares one).

[2021-12-14 17:19] #456 closed

[2021-12-21 16:06] tbeseda opened #475 "better document app.arc must use spaces for any indentation"
This is mentioned in the `@tables` pragma doc, but could be surfaced in the main project manifest doc

[2021-12-21 18:48] tbeseda opened #476 "config.arc: opt out of shared/views hydration"
[code]

this opts get /* out of all shared code

-- @ryanblock via [Arc Discord server](https://discord.gg/y5A2eTsCRX)

[2021-12-21 18:52] ryanblock commented on #476
+`env false` to opt out of userland env vars!

[2022-01-11 20:49] #476 closed

[2022-01-17 21:17] filmaj opened #487 "Add catchall route documentation to the HTTP docs"
**Is your feature request related to a problem? Please describe.**
You can have something like this in your `app.arc`:

[code]

This will create a 'catchall' route under `src/http/get-catchall`.

**Describe the solution you'd like**
We should document this in https://arc.codes/docs/en/reference/project-manifest/http!

[2022-01-20 02:52] #487 closed

[2022-01-24 19:25] lpsinger opened #488 ".arc-env mentioned only once, not documented"
**Describe the issue**
According to https://arc.codes/docs/en/reference/cli/sandbox:

This is the only mention that I can find of the `.arc-env` file. I see no other documentation about the `.arc-env` file, and no explanation of its format or contents. I suspect that this is actually supposed to refer to `preferences.arc`.

**Steps to reproduce**
N/A, this is a documentation bug.

**Expected behav

[2022-01-24 21:58] tbeseda commented on #488
Good find @lpsinger
We need to focus the docs on the preferred way to use environment variables so they work locally and when deployed.
@ryanblock, I know some of this has shifted lately. What's the canonical Arc way here? and is .arc-env useful? It seems preferences.arc is more common in our projects?
thanks

[2022-01-24 22:15] ryanblock commented on #488
`.arc-env` is deprecated and the last remaining support will be removed in Arc 10 – we should remove all references. It was superseded by `pref[erence]s.arc`.

[2022-01-26 16:07] macdonst opened #490 "Remove `toml` support from docs"
When arc 10 releases we will no longer support TOML. Let's make sure the docs are updated as well.

https://github.com/architect/parser/pull/132/commits/7f37585f63228e9a9820c46736ab2b839bc8fc27

[2022-01-27 21:19] #488 closed

[2022-01-27 21:24] #490 closed

[2022-02-18 17:42] tbeseda opened #501 "The static pragma is under-documented"
[code]

\- @ryanblock

[2022-03-03 20:12] jericopulvera opened #758 "HTTP redirect to HTTPS using API Gateway Custom Domain Documentation"
**Is your feature request related to a problem? Please describe.**
I'm deploying a server-rendered page and I want my page to automatically redirect to HTTPS. I know it's possible but it's hard to find a quick way to do this.

**Describe the solution you'd like**
Documentation on how to do it or better yet have an automated way to do this in arc deploy.

**Describe alternatives you've considered**

[2022-03-09 17:48] brianleroux opened #520 "better docs for importance / significance of @app name"
Got the feedback that changing `@app` name creating a new app was surprising! This is legit, app name is used to derive the CloudFormation stack name which is not mutable. The stack is a unique identifier in the AWS account so a new name is a new app as far as AWS is concerned.

[2022-03-10 00:49] tbeseda commented on #520
The existing doc for `@app` is pretty sparse, so this could definitely be an added note there https://arc.codes/app

Where else would an explanation fit? maybe [Deployment](https://arc.codes/docs/en/guides/developer-experience/deployment) ?

[2022-03-12 09:40] andybee opened #522 "Improvement to dark mode selection"
As I understand the current dark mode implementation looks at the current browser/OS setting first and sets that as a default value, before letting the user customise via the top right toggle.

I have my OS set to flip from light to dark based on sunset/sunrise, so if I visit the site for the first time during the day I'm on the light theme and have to toggle it at sunset to dark, then back to lig

[2022-04-06 12:25] tbeseda opened #536 "Document `@sandbox` > ports in Local prefs"
Works like

[code]

[2022-04-06 22:23] #536 closed

[2022-04-06 22:24] #501 closed

[2022-04-11 15:28] #455 closed

[2022-04-11 15:30] macdonst opened #544 "Specify minimum length of the strong secret key"
**Describe the issue**
I was lazy and set my ARC_APP_SECRET to a short random string but this ended up causing issues when I executed a lambda.

[code]

So we should call out in the docs that the key has a minimum length of 16 bytes.

[2022-04-27 17:26] brianleroux opened #559 "CI/CD docs: add GitLab CI/CD example"
reference
https://docs.gitlab.com/ee/ci/#configuration

[2022-05-03 03:34] macdonst opened #556 "Document fifo option for queues"
See https://discord.com/channels/880272256100601927/943273706535411812/970863261669031936

[2022-05-03 16:49] tbeseda commented on #556
fixed in #557

[2022-05-03 16:49] #556 closed

[2022-05-04 22:51] tbeseda commented on #559
fixed in #560

[2022-05-04 22:51] #559 closed

[2022-05-09 15:33] macdonst opened #563 "Describe how to import shared ES modules"
Add an example to our docs to describe how to import ES modules from the @architect/shared folder. Folks may get tripped up by the requirement to add `.mjs` to the import.

For example:

[code]

https://arc.codes/docs/en/guides/developer-experience/using-esm#es-modules-with-.mjs

[2022-05-11 14:40] #563 closed

[2022-05-30 00:57] #544 closed

[2022-05-30 01:31] #520 closed

[2022-05-30 01:49] #407 closed

[2022-06-11 18:52] tbeseda commented on #432
We have moved to plugins with Arc 10 and have examples in both the docs and at https://github.com/architect/plugins

[2022-06-11 18:52] #432 closed

[2022-06-11 18:55] tbeseda commented on #285
cleaning up a bit. this is now canonically named `@tables-streams` and is documented here https://arc.codes/tables-streams

[2022-06-11 18:55] #285 closed

[2022-06-11 18:57] tbeseda commented on #406
These have largely been resolved with the new logo and some CSS consolidation

[2022-06-11 18:57] #406 closed

[2022-06-11 18:57] #475 closed

[2022-06-27 18:32] tbeseda opened #576 "How to use private module during hydration"
I need to verify but I think each Lambda dir needs an npmrc file

[2022-06-27 19:42] macdonst commented on #576
There is a related issue I haven't been able to find the time to work on:

https://github.com/architect/architect/issues/1061

[2022-08-21 14:50] filmaj opened #597 "Link to new plugin api in arc 10 upgrade guide 404s"
1. https://arc.codes/docs/en/about/upgrade-guide#breaking-changes
2. Click "new plugin documentation"
3. ==> https://arc.codes/docs/en/reference/plugins/api
4. 404

[2022-10-28 11:30] dan-cooke opened #623 "Resolve node_modules using the node resolution algorithm"
**Is your feature request related to a problem? Please describe.**
Right now the framework does not support monorepos, so we cannot have nested configs

[code]

If I try to run `npx arc init` in any of these directories I get "Cannot find plugin 'architect/plugin-typescript'! Are you sure you have installed or created it correctly?"

It seems that arc is just looking for a sibling node_modules dir

[2022-11-08 23:45] tbeseda opened #627 "Arc plugin: hydrate.copy copy fn target is node_modules/ not node_modules/@architect/shared/"
**Describe the issue**

The docs say

This is great, desired behavior.
However, my folder (a symlink in dev mode) is copied to `./src/$pragma/$name/node_modules/hi/there.json`

**Steps to reproduce**
[code]
**Actual:**
Now in my Lambdas I have a path like `./src/http/get-index/node_modules/my-plugin/`.
**Expected:**
`./src/http/get-index/node_modules/@architect/shared/my-plugin/`

[2022-11-09 18:15] tbeseda commented on #627
Fixed by https://github.com/architect/arc.codes/commit/2ce19193424834c01c337c269b5cefffb13ef346

[2022-11-09 18:15] #627 closed